:root
{
 font: message-box;
}
.devtools-monospace
{
 font-family: monospace;
}
.devtools-toolbar
{
 -moz-appearance: none;
 padding: 4px 3px;
 color: #FFFFFF;
 background-color: #000000;
}
.devtools-menulist, .devtools-toolbarbutton
{
 -moz-appearance: none;
 -moz-box-align: center;
 min-width: 78px;
 min-height: 22px;
 border: 0;
 margin: 0;
 -moz-margin-end: 3px;
 color: inherit;
 background-color: #000000;
 border: 1px solid #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
}
.devtools-menulist:hover, .devtools-toolbarbutton:hover
{
 background-color: #202020;
}
.devtools-toolbarbutton > .toolbarbutton-menubutton-button
{
 -moz-box-orient: horizontal;
}
.devtools-toolbarbutton > .toolbarbutton-icon
{
 margin: 0;
}
.devtools-toolbarbutton:not([label])
{
 min-width: 32px;
}
.devtools-toolbarbutton:not([label]) > .toolbarbutton-text
{
 display: none;
}
.devtools-toolbarbutton:not([checked=true]):hover:active
{
 background-color: #303030;
 border: 1px solid #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.devtools-menulist[open=true], .devtools-toolbarbutton[open=true], .devtools-toolbarbutton[checked=true]
{
 background-color: #404040;
 border: 1px solid #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.devtools-toolbarbutton[checked=true]
{
 color: #C0C0C0 !important;
}
.devtools-toolbarbutton[checked=true]:hover:active
{
 background-color: #606060;
}
.devtools-option-toolbarbutton
{
 -moz-appearance: none;
 list-style-image: url("chrome://browser/skin/devtools/option-icon.png");
 -moz-image-region: rect(0px 16px 16px 0px);
 background: none;
 border: none;
}
.devtools-option-toolbarbutton[open=true]
{
 -moz-image-region: rect(0px 32px 16px 16px);
}
.devtools-menulist > .menulist-label-box
{
 text-align: center;
}
.devtools-menulist > .menulist-dropmarker
{
 -moz-appearance: none;
 list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
 border-width: 0;
 background-color: transparent;
}
.devtools-menulist:focus:not([open="true"]):not(.menulist-compact) > .menulist-label-box
{
 color: #C0C0C0 !important;
 background-color: transparent;
}
.devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-button
{
 -moz-appearance: none;
 color: inherit;
 border-width: 0;
 -moz-border-end: 1px solid #606060;
}
.devtools-toolbarbutton[type=menu-button]
{
 padding: 0 1px;
 -moz-box-align: stretch;
}
.devtools-toolbarbutton[type=menu] > .toolbarbutton-menu-dropmarker, .devtools-toolbarbutton[type=menu-button] > .toolbarbutton-menubutton-dropmarker
{
 -moz-appearance: none !important;
 list-style-image: url("chrome://browser/skin/devtools/dropmarker.png");
 -moz-box-align: center;
}

/* Text input */
.devtools-textinput, .devtools-searchinput
{
 -moz-appearance: none;
 margin: 0 3px;
 min-height: 22px;
 border: 1px solid #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
 background-color: #000000;
 padding: 3px;
 color: inherit;
}
.devtools-searchinput
{
 background: url(magnifying-glass.png) 4px center no-repeat #000000;
 padding-top: 0;
 padding-bottom: 0;
 -moz-padding-start: 18px;
 -moz-padding-end: 12px;
 font-size: inherit;
}
.devtools-searchinput[focused]
{
 background-color: #101010;
}
.devtools-searchinput:-moz-locale-dir(rtl)
{
 background-position: calc(100% - 4px) center;
}
.devtools-searchinput > .textbox-input-box > .textbox-search-icons
{
 display: none;
}
.devtools-searchinput > .textbox-input-box > .textbox-input::-moz-placeholder
{
 opacity: 1.0;
 color: #A0A0A0;
}
.devtools-no-search-result
{
 background: url(magnifying-glass.png) 4px center no-repeat #200000;
}
.devtools-closebutton
{
 list-style-image: url("chrome://browser/skin/devtools/toolbarbutton-close.png");
 -moz-image-region: rect(0, 16px, 16px, 0);
 min-width: 16px;
 width: 16px;
 -moz-appearance: none;
 border-style: none;
}
.devtools-closebutton > .toolbarbutton-text
{
 display: none;
}
.devtools-closebutton:hover
{
 -moz-image-region: rect(0, 32px, 16px, 16px);
}
.devtools-closebutton:hover:active
{
 -moz-image-region: rect(0, 48px, 16px, 32px);
}

/* Splitters */
.devtools-horizontal-splitter
{
 -moz-appearance: none;
 border-width: 1px 0 0 0;
 -moz-border-top-colors: #FFFFFF;
 background-color: transparent;
 min-height: 3px;
 height: 3px;
 margin-bottom: -3px;
 position: relative;
}
.devtools-side-splitter
{
 border: 0;
 -moz-border-start: 1px solid #FFFFFF;
 min-width: 0;
 width: 3px;
 background-color: transparent;
 -moz-margin-end: -3px;
 position: relative;
 cursor: e-resize;
}
.browserSidebarContainer > .devtools-side-splitter
{
 -moz-border-start: 1px solid #606060;
}

/* In-tools sidebar */
.devtools-toolbox-side-iframe
{
 min-width: 465px;
}
.devtools-sidebar-tabs
{
 -moz-appearance: none;
 margin: 0;
}
.devtools-sidebar-tabs > tabpanels
{
 -moz-appearance: none;
 padding: 0;
 border: 0;
}
.devtools-sidebar-tabs > tabs
{
 -moz-appearance: none;
 position: static;
 color: #FFFFFF;
 margin-bottom: 0;
 padding: 0;
 background-color: #000000;
 overflow: hidden;
}
.devtools-sidebar-tabs > tabs > .tabs-right, .devtools-sidebar-tabs > tabs > .tabs-left
{
 display: none;
}
.devtools-sidebar-tabs > tabs > tab
{
 -moz-appearance: none;
  /* We want to match the height of a toolbar with a toolbarbutton
   * First, we need to replicated the padding of toolbar (4px),
   * then, the padding of the button itself from toolbarbutton.css (3px),
   * Also, we need to take the border of the buttons into accout (1px).
   * Padding-bottom is one pixel shorter because we need to include the
   * black border.
   */
 padding: 6px 3px;
 margin: 0;
 border: 1px solid transparent;
 min-width: 78px;
 text-align: center;
 color: inherit;
 -moz-box-flex: 1;
 background: transparent;
 border-radius: 0;
 position: static;
}
.devtools-sidebar-tabs > tabs > tab:-moz-focusring
{
 position: static;
}
.devtools-sidebar-tabs > tabs > tab
{
 border: 1px solid transparent;
 color: #C0C0C0;
}
.devtools-sidebar-tabs:-moz-locale-dir(rtl) > tabs > tab
{
 background-position: calc(100% - 3px), 100%, calc(100% - 1px), calc(100% - 2px);
}
.devtools-sidebar-tabs > tabs > tab
{
 background: #000000;
}
.devtools-sidebar-tabs > tabs > tab:hover
{
 background: #101010;
 border: 1px solid #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
}
.devtools-sidebar-tabs > tabs > tab:hover:active
{
 background: #303030;
 border-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.devtools-sidebar-tabs > tabs > tab[selected=true]
{
 background: #202020;
 border-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
 color: #FFFFFF;
}
.devtools-sidebar-tabs > tabs > tab[selected=true]:hover
{
 color: #E0E0E0;
}
.devtools-sidebar-tabs > tabs > tab[selected=true]:hover:active
{
 color: #FFFFFF
}


/* Autocomplete Popup */
/* Dark and light theme */

.devtools-autocomplete-popup
{
 -moz-appearance: none !important;
 border: 1px solid #606060;
 background-color: #000000;
 max-height: 40rem;
}

.devtools-autocomplete-listbox
{
 -moz-appearance: none !important;
 background-color: transparent;
 border-width: 0px !important;
}

.devtools-autocomplete-listbox > richlistitem
{
 width: 100%;
 background-color: #000000;
 border: 1px solid transparent;
}
.devtools-autocomplete-listbox > richlistitem[selected], .devtools-autocomplete-listbox > richlistitem:hover
{
 background-color: #101010; 
 border-top-color: #A0A0A0;
 border-left-color: #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
}
.devtools-autocomplete-listbox > richlistitem[selected] > .autocomplete-value, .devtools-autocomplete-listbox:focus > richlistitem[selected] > .initial-value
{
 color: #C0C0C0;
}
.devtools-autocomplete-listbox > richlistitem[selected] > label
{
 color: #E0E0E0;
}
.devtools-autocomplete-listbox > richlistitem > label
{
 color: #FFFFFF;
}
.devtools-autocomplete-listbox > richlistitem > .initial-value, .devtools-autocomplete-listbox > richlistitem > .autocomplete-value
{
 margin: 0;
 padding: 1px 0;
}
.devtools-autocomplete-listbox > richlistitem > .autocomplete-count
{
 text-align: right;
}

/* Responsive container */

.devtools-responsive-container
{
 -moz-box-orient: horizontal;
}
@media (max-width: 700px)
{
 .devtools-responsive-container
 {
  -moz-box-orient: vertical;
 }
 .devtools-responsive-container > .devtools-side-splitter
 {
  border: 0;
  margin: 0;
  border-top: 1px solid #FFFFFF;
  min-height: 3px;
  height: 3px;
  margin-bottom: -3px;
  /* In some edge case the cursor is not changed to n-resize */
  cursor: n-resize;
 }
 .devtools-responsive-container > .devtools-sidebar-tabs
 {
  min-height: 35vh;
  max-height: 75vh;
 }
}