.gcli-body
{
 margin: 0;
 font: message-box;
 color: #FFFFFF;
}
#gcli-output-root, #gcli-tooltip-root
{
 border: 1px solid #A0A0A0;
 background: #000000;
 opacity: 0.8;
}
#gcli-output-root
{
 padding: 5px 10px;
 border-bottom-left-radius: 0;
 border-bottom-right-radius: 0;
 border-bottom: 0;
}
#gcli-tooltip-root
{
 padding: 5px 0px;
}
#gcli-tooltip-connector
{
 margin-top: -2px;
 margin-left: 8px;
 width: 20px;
 height: 10px;
 border-left: 1px solid #A0A0A0;
 border-right: 1px solid #A0A0A0;
 background-color: #000000;
 opacity: 0.8;
}
.gcli-tt-description, .gcli-tt-error
{
 padding: 0 10px;
}
.gcli-row-out
{
 padding: 0 5px;
 line-height: 1.2em;
 border-top: none;
 border-bottom: none;
 color: #FFFFFF;
}
.gcli-row-out p, .gcli-row-out h1, .gcli-row-out h2, .gcli-row-out h3
{
 margin: 5px 0;
}
.gcli-row-out h1, .gcli-row-out h2, .gcli-row-out h3, .gcli-row-out h4, .gcli-row-out h5, .gcli-row-out th, .gcli-row-out strong, .gcli-row-out pre
{
 color: #FFFFFF;
}
.gcli-row-out pre
{
 font-size: 80%;
}
.gcli-row-out td
{
 white-space: nowrap;
}
.gcli-out-shortcut, .gcli-help-synopsis
{
 padding: 0 3px;
 margin: 0 4px;
 font-weight: normal;
 font-size: 90%;
 background-color: #000000;
 border: 1px solid #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
}
.gcli-out-shortcut:hover, .gcli-help-synopsis:hover
{
 background-color: #202020;
}
.gcli-out-shortcut:hover:active, .gcli-help-synopsis:hover:active
{
 background-color: #404040;
 border-top-color: #606060;
 border-left-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.gcli-out-shortcut:before, .gcli-help-synopsis:before
{
 color: #FFFFFF;
 -moz-padding-end: 2px;
}
.gcli-help-arrow
{
 color: #FFFFFF;
}
.gcli-help-description
{
 margin: 0 20px;
 padding: 0;
}
.gcli-help-parameter
{
 margin: 0 30px;
 padding: 0;
}
.gcli-help-header
{
 margin: 10px 0 6px;
}
.gcli-menu-name
{
 -moz-padding-start: 8px;
}
.gcli-menu-desc
{
 -moz-padding-end: 8px;
 color: #E0E0E0;
}
.gcli-menu-option:hover
{
 background-color: #202020;
}
.gcli-menu-highlight, .gcli-menu-highlight.gcli-menu-option:hover
{
 background-color: #303030;
}
.gcli-menu-typed
{
 color: #E0E0E0;
}
.gcli-menu-more
{
 font-size: 80%;
 text-align: right;
 -moz-padding-end: 8px;
}
.gcli-addon-disabled
{
 opacity: 0.6;
 text-decoration: line-through;
}
.gcli-breakpoint-label
{
 font-weight: bold;
}
.gcli-breakpoint-lineText
{
 font-family: monospace;
}