#body
{
 background: #000000;
}
#sources-pane
{
 min-width: 50px;
}
#sources-pane + .devtools-side-splitter
{
 -moz-border-start-color: transparent;
}
.list-widget-item
{
 padding: 2px;
}
.list-widget-item:not(.selected):not(.empty):hover
{
 background: #202020;
}
.list-widget-item.selected.light
{
 background: #404040;
 color: #FFFFFF;
}
.list-widget-item.selected
{
 background: #404040;
 color: #FFFFFF;
}
.list-widget-item.empty
{
 color: #A0A0A0;
 padding: 2px;
}
.dbg-stackframe-details
{
 -moz-padding-start: 4px;
}
.dbg-stackframe-menuitem[checked]
{
 margin-top: 3px;
 margin-bottom: 3px;
 outline: 1px solid #808080;
 font-weight: 600;
}
.dbg-stackframe-menuitem-details
{
 -moz-padding-start: 16px;
}
.dbg-breakpoint
{
 font-family: monospace;
}
.dbg-breakpoint-line
{
 font-weight: 600;
}
.dbg-breakpoint-text
{
 -moz-margin-start: 10px !important;
 font-style: italic;
}
#expressions
{
 min-height: 10px;
 max-height: 125px;
}
.dbg-expression
{
 height: 20px;
 -moz-padding-start: 8px;
}
.dbg-expression-arrow
{
 width: 10px;
 height: auto;
 background: url("chrome://browser/skin/devtools/commandline.png") 0px 4px no-repeat;
}
.dbg-expression-input
{
 -moz-padding-start: 2px !important;
 font-family: Menlo, Monaco, monospace;
}
.devtools-searchinput
{
 min-width: 220px;
 -moz-margin-start: 1px;
}
#searchbox-panel-description
{
 margin-top: 0;
 margin-bottom: 8px;
 -moz-margin-start: 2px;
}
.searchbox-panel-operator-button
{
 min-width: 26px;
 margin-top: 0;
 margin-bottom: 0;
 -moz-margin-start: 2px;
 -moz-margin-end: 6px;
 text-align: center;
 font-family: Menlo, Monaco, monospace;
}
.searchbox-panel-operator-label
{
 padding-bottom: 2px;
}
.results-panel
{
 padding: 4px;
 opacity: 0.9;
}
.results-panel-item
{
 background: #101010;
 border: 1px solid #606060;
 border-top-color: #A0A0A0;
 padding: 5px;
 cursor: pointer;
}
.results-panel-item:first-of-type
{
 border-top-color: #606060;
 border-radius: 4px 4px 0 0;
}
.results-panel-item:last-of-type
{
 border-radius: 0 0 4px 4px;
}
.results-panel-item:only-of-type
{
 border-radius: 4px;
}
.results-panel-item:not(.selected):not(:hover)
{
 text-shadow: 0 1px #FFFFFF;
}
.results-panel-item-pre
{
 -moz-margin-end: 5px !important;
 color: #FFFFFF;
 cursor: inherit;
}
.results-panel-item-name
{
 color: #FFFFFF;
 font-weight: 600;
 cursor: inherit;
}
.results-panel-item-details
{
 color: #FFFFFF;
 cursor: inherit;
}
#globalsearch
{
 min-height: 10px;
 box-shadow: inset 0 -4px 8px #eee;
 background: url(background-noise-toolbar.png);
}
#globalsearch > vbox:not(:empty)
{
 min-height: 10px;
 max-height: 125px;
}
#globalsearch + .devtools-horizontal-splitter
{
 -moz-border-top-colors: #A0A0A0;
}
.dbg-source-results
{
 padding: 0;
 background: none !important;
}
.dbg-results-header
{
 -moz-padding-start: 6px;
}
.dbg-results-header-location
{
 font-weight: 600;
}
.dbg-results-header-match-count
{
 -moz-padding-start: 6px;
 color: #A0A0A0;
}
.dbg-results-line-number
{
 background: #101010;
 min-width: 40px;
 -moz-border-end: 1px solid #606060;
 -moz-padding-end: 4px;
 padding-top: 2px;
 text-align: end;
 font-family: monospace;
 color: #808080;
}
.dbg-results-line-contents
{
 -moz-padding-start: 4px;
 padding-top: 1px;
 padding-bottom: 1px;
 font-family: monospace;
}
.dbg-results-line-contents-string
{
 padding: 1px;
}
.dbg-results-line-contents-string[match=true]
{
 background: #606060;
 padding: 0;
 border: 1px solid #A0A0A0;
 border-radius: 4px;
 cursor: pointer;
}
.dbg-results-line-contents-string[match=true][focusing]
{
 transition: transform 0.3s ease-in-out;
}
.dbg-results-line-contents-string[match=true][focused]
{
 transition-duration: 0.1s;
 transform: scale(1.75, 1.75);
}
#resumption-panel-desc
{
 width: 200px;
}
#resumption-order-panel
{
 -moz-margin-start: -8px;
}
#resume
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-play.png");
 -moz-image-region: rect(0px,16px,16px,0px);
}
#resume[checked]
{
 -moz-image-region: rect(0px,32px,16px,16px);
}
#step-over
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-step-over.png");
}
#step-in
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-step-in.png");
}
#step-out
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-step-out.png");
}
#debugger-controls > toolbarbutton
{
 margin: 0;
 box-shadow: none;
 border-radius: 0;
 border-width: 0;
 -moz-border-end-width: 1px;
 outline-offset: -3px;
}
#debugger-controls > toolbarbutton:last-of-type
{
 -moz-border-end-width: 0;
}
#debugger-controls
{
 border: 1px solid #808080;
 border-radius: 3px;
 margin: 0 3px;
}
#instruments-pane-toggle
{
 background: none;
 box-shadow: none;
 border: none;
 list-style-image: url("chrome://browser/skin/devtools/debugger-collapse.png");
 -moz-image-region: rect(0px,16px,16px,0px);
}
#instruments-pane-toggle[pane-collapsed]
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-expand.png");
}
#instruments-pane-toggle:hover
{
 -moz-image-region: rect(0px,32px,16px,16px);
}
#instruments-pane-toggle:hover:active
{
 -moz-image-region: rect(0px,48px,16px,32px);
}