*
{
 -moz-box-sizing: border-box;
}
body
{
 margin: 0;
 padding-bottom: 20px;
}
#all-fonts
{
 padding: 0 5px;
 margin: 0;
}
#showall
{
 border-radius: 0;
 border: 1px solid #404040;
 margin: 3px;
 cursor: pointer;
 position: fixed;
 bottom: 0;
 right: 0;
}
.font
{
 padding: 10px 5px;
 font-size: 0;
}
.theme-dark .font
{
 border-bottom: 1px solid #505050;
}
.theme-light .font
{
 border-bottom: 1px solid #606060;
}
.font:last-of-type
{
 border-bottom: 0;
}
.theme-light .font:nth-child(even)
{
 background: #101010;
}
.font-preview
{
 height: 60px;
 width: 100%;
 border: 0;
 display: block;
}
.font-info
{
 font-size: 1rem;
 display: block;
}
.font-name
{
 display: inline;
}
.font-css-code
{
 max-width: 100%;
 overflow: hidden;
 text-overflow: ellipsis;
 padding: 5px;
}
.theme-light .font-css-code, .theme-light .font-url
{
 border: 1px solid #A0A0A0;
 background: #606060;
}
.theme-dark .font-css-code, .theme-dark .font-url
{
 border: 1px solid #808080;
 background: #000000;
 color: #FFFFFF;
}