#inspector-inspect-toolbutton
{
 list-style-image: url("chrome://browser/skin/devtools/inspect-button.png");
 -moz-image-region: rect(0px 16px 16px 0px);
}
#inspector-inspect-toolbutton[checked=true]
{
 -moz-image-region: rect(0px 32px 16px 16px);
}
#inspector-searchbox
{
 transition-property: max-width, -moz-padding-end, -moz-padding-start;
 transition-duration: 250ms;
 transition-timing-function: ease;
}
#inspector-searchbox:not([focused]):not([filled]) > .textbox-input-box
{
 overflow: hidden;
}
#inspector-searchbox:not([focused]):not([filled])
{
 max-width: 20px !important;
 -moz-padding-end: 6px;
 -moz-padding-start: 22px;
 background-position: 8px center, top left, top left;
}
#inspector-searchbox[focused], #inspector-searchbox[filled]
{
 max-width: 200px !important;
}
