.theme-dark .theme-body
{
 background-image: url(layout-background-grid.png);
}
.theme-light .theme-body
{
 background-image: url(layout-background-grid.png), radial-gradient(circle at 50% 70%, hsl(210,53%,45%) 0%, hsl(210,54%,33%) 100%);
}
.theme-body
{
 color: #FFFFFF;
 -moz-box-sizing: border-box;
}
#main
{
 border-color: #606060;
 border-style: dotted;
}
#main > .border
{
 color: #FFFFFF;
}
.border > span
{
 background-color: #000000;
 border-radius: 2px;
 padding: 0 4px;
}
#content
{
 border-color: #606060;
 border-style: dotted 
}
#padding
{
 border-color: #606060;
 border-style: solid;
}
#borders
{
 border-style: solid;
 border-color: #606060;
}