.theme-body
{
 background: #000000;
 color: #FFFFFF;
}
.theme-twisty
{
 cursor: pointer;
 margin-right: 5px;
}
.theme-twisty:-moz-focusring
{
 outline-style: none;
}
.theme-twisty:not([open])
{
 width: 0;
 height: 0;
 border-top: 5px solid transparent;
 border-bottom: 5px solid transparent;
 border-left: 5px solid #808080;
 margin-left: 5px;
}
.theme-twisty[open]
{
 width: 10px;
 height: 10px;
 background-image: linear-gradient(to bottom right, transparent 68%,  rgba(255,255,255,0.5) 68%);
}
.theme-checkbox
{
 display: inline-block;
 border: 0;
 width: 14px;
 height: 14px;
 padding: 0;
 outline: none;
 background: url("chrome://browser/skin/devtools/checkbox-dark.png") no-repeat;
}
.theme-checkbox[checked]
{
 background: url("chrome://browser/skin/devtools/checkbox-dark.png") 14px 0;
}
.theme-selected
{
 background: #000000;
}
.theme-bg-darker
{
 background-color: #101010;
}
.theme-link
{
 color: #FFFFFF;
}
.theme-comment
{
 color: #E0E0E0;
}
.theme-gutter
{
 background-color: #101010;
 color: #FFFFFF;
 border-color: #606060;
}
.theme-separator
{
 border-color: #606060;
}
.theme-fg-color1
{
 color: #80FF80;
}
.theme-fg-color2
{
 color: #C0FFC0;
}
.theme-fg-color3
{
  color: #C0C0FF;
}
.theme-fg-color4
{
 color: #800080;
}
.theme-fg-color5
{
 color: #FFFF80;
}
.theme-fg-color6
{
 color: #80FF80;
}
.theme-fg-color7
{
 color: #FF8080;
}
