#body
{
 background: #000000;
}
#requests-menu-empty-notice
{
 background: #000000;
 padding: 12px;
 font-size: 125%;
 color: #FFFFFF;
}
#requests-menu-toolbar
{
 height: 33px;
 padding: 0;
}
.requests-menu-header:first-child
{
 -moz-padding-start: 4px;
}
.requests-menu-subitem
{
 padding: 4px;
}
.requests-menu-header:not(:last-child):-moz-locale-dir(ltr), .requests-menu-subitem:not(:last-child):-moz-locale-dir(ltr)
{
 -moz-border-end: 1px solid #404040;
}
.requests-menu-header:not(:last-child):-moz-locale-dir(rtl), .requests-menu-subitem:not(:last-child):-moz-locale-dir(rtl)
{
 -moz-border-end: 1px solid #404040;
}
.requests-menu-header-button
{
 -moz-appearance: none;
 background-color: #000000;
 min-width: 20px;
 min-height: 32px; /* Remaining 1px comes from border of the toolbar. */
 margin: 0;
 border: none;
 padding: 0;
 color: inherit;
 font-weight: inherit !important;
}
.requests-menu-header-button:hover
{
 text-shadow: 0 0 2px white;
 background-color: #101010;
}
.requests-menu-header-button:hover:active
{
 background: #303030;
}
.requests-menu-header-button:not(:active)[sorted]
{
 background-image: radial-gradient(farthest-side at center bottom, #202020, transparent);
}
.requests-menu-header-button:not(:active)[sorted=ascending]
{
 background-image: radial-gradient(farthest-side at center top, #202020, transparent);
}
.requests-menu-header-button:not(:active)[sorted=descending]
{
 background-image: radial-gradient(farthest-side at center bottom, #202020, transparent);
}
.requests-menu-status-and-method
{
 width: 8em;
}
.requests-menu-status
{
 width: 10px;
 height: 10px;
}
.requests-menu-method
{
 text-align: center;
 font-weight: 600;
}
.requests-menu-file
{
 width: 20vw;
 min-width: 4em;
}
.requests-menu-domain
{
 width: 14vw;
 min-width: 10em;
}
.requests-menu-type
{
 text-align: center;
 width: 4em;
}
.requests-menu-size
{
 text-align: center;
 width: 8em;
}
box.requests-menu-status
{
 background: #A0A000;
 -moz-margin-start: 5px;
 -moz-margin-end: 5px;
 border-radius: 5px;
 border: 1px solid #808000;
}
box.requests-menu-status[code^="1"]
{
 background: #0000A0;
 border-color: #000080;
}
box.requests-menu-status[code^="2"]
{
 background: #00A000;
 border-color: #008000;
}
box.requests-menu-status[code^="3"]
{
 background: #A08000;
 border-color: #806000;
}
box.requests-menu-status[code^="4"]
{
 background: #A00000;
 border: 1px solid #800000;
}
box.requests-menu-status[code^="5"]
{
 background: #A000A0;
 border: 1px solid #800080;
}
#requests-menu-waterfall-label
{
 -moz-padding-start: 8px;
 -moz-padding-end: 8px;
}
.requests-menu-timings-division
{
 width: 100px;
 padding-top: 1px;
 -moz-padding-start: 4px;
 -moz-border-start: 1px dotted #A0A0A0;
 font-size: 90%;
 pointer-events: none;
}
.requests-menu-timings-division:not(:first-child)
{
 -moz-margin-start: -100px !important; /* Don't affect layout. */
}
.requests-menu-timings-division:-moz-locale-dir(ltr)
{
 transform-origin: left center;
}
.requests-menu-timings-division:-moz-locale-dir(rtl)
{
 transform-origin: right center;
}
.requests-menu-subitem.requests-menu-waterfall
{
 -moz-padding-start: 4px;
 -moz-padding-end: 4px;
 background-repeat: repeat-y; /* Background created on a <canvas> in js. */
 margin-top: -1px; /* Compensate borders. */
 margin-bottom: -1px;
}
.requests-menu-subitem.requests-menu-waterfall:-moz-locale-dir(rtl)
{
 background-position: right center;
}
.requests-menu-timings:-moz-locale-dir(ltr)
{
 transform-origin: left center;
}
.requests-menu-timings:-moz-locale-dir(rtl)
{
 transform-origin: right center;
}
.requests-menu-timings-total:-moz-locale-dir(ltr)
{
 transform-origin: left center;
}
.requests-menu-timings-total:-moz-locale-dir(rtl)
{
 transform-origin: right center;
}
.requests-menu-timings-total
{
 -moz-padding-start: 8px;
 font-size: 85%;
 font-weight: 600;
}
.requests-menu-timings-cap
{
 width: 4px;
 height: 10px;
 border-top: 1px solid #A0A0A0;
 border-bottom: 1px solid #606060;
}
.requests-menu-timings-cap.start
{
 -moz-border-end: none;
}
.requests-menu-timings-cap.end
{
 -moz-border-start: none;
}
.requests-menu-timings-cap.start:-moz-locale-dir(ltr)
{
 border-radius: 4px 0 0 4px;
 transform-origin: right center;
 border-left: 1px solid #A0A0A0;
}
.requests-menu-timings-cap.start:-moz-locale-dir(rtl)
{
 border-radius: 0 4px 4px 0;
 transform-origin: left center;
 border-right: 1px solid #606060;
}
.requests-menu-timings-cap.end:-moz-locale-dir(ltr)
{
 border-radius: 0 4px 4px 0;
 transform-origin: left center;
 border-right: 1px solid #606060;
}
.requests-menu-timings-cap.end:-moz-locale-dir(rtl)
{
 border-radius: 4px 0 0 4px;
 transform-origin: right center;
 border-left: 1px solid #A0A0A0;
}
.requests-menu-timings-box
{
 height: 10px;
 border-top: 1px solid #A0A0A0;
 border-bottom: 1px solid #606060;
}
.requests-menu-timings-box.blocked, .requests-menu-timings-cap.blocked
{
 background-color: #800000;
}
.requests-menu-timings-box.dns, .requests-menu-timings-cap.dns
{
 background-color: #800080;
}
.requests-menu-timings-box.connect, .requests-menu-timings-cap.connect
{
 background-color: #808000;
}
.requests-menu-timings-box.send, .requests-menu-timings-cap.send
{
 background-color: #008080;
}
.requests-menu-timings-box.wait, .requests-menu-timings-cap.wait
{
 background-color: #808080;
}
.requests-menu-timings-box.receive, .requests-menu-timings-cap.receive
{
 background-color: #008000;
}
.side-menu-widget-item:nth-child(even)
{
 background: #080808;
}
.side-menu-widget-item-contents
{
 padding: 0;
}
#details-pane
{
 background: #000000;
 max-width: 500px;
}
#details-pane-toggle
{
 background: none;
 box-shadow: none;
 border-color: transparent;
 list-style-image: url("chrome://browser/skin/devtools/debugger-collapse.png");
 -moz-image-region: rect(0px,16px,16px,0px);
}
#details-pane-toggle[pane-collapsed]
{
 list-style-image: url("chrome://browser/skin/devtools/debugger-expand.png");
}
#details-pane-toggle:active
{
 -moz-image-region: rect(0px,32px,16px,16px);
}
.tabpanel-content
{
 background: #080808;
 color: #FFFFFF;
}
.tabpanel-summary-container
{
 padding: 1px;
}
.tabpanel-summary-label
{
 -moz-padding-start: 4px;
 -moz-padding-end: 3px;
 font-weight: 600;
 color: #FFFFFF;
}
.tabpanel-summary-value
{
 -moz-padding-start: 3px;
 font-family: Menlo, Monaco, monospace;
 color: #A0A0A0;
}
#headers-summary-status, #headers-summary-version
{
 padding-bottom: 2px;
}
#headers-summary-size
{
 padding-top: 2px;
}
#response-content-info-header
{
 background: #000000;
 margin: 0;
 padding: 5px 8px;
}
#response-content-image-box
{
 padding-top: 10px;
 padding-bottom: 10px;
}
#response-content-image
{
 background: #000000;
 border: 1px dashed #A0A0A0;
 margin-bottom: 10px;
}
#timings-tabpanel .tabpanel-summary-label
{
 width: 10em;
}
#timings-tabpanel .requests-menu-timings-box
{
 transition: transform 0.2s ease-out;
 min-width: 1px;
}
#timings-tabpanel .requests-menu-timings-total
{
 transition: transform 0.2s ease-out;
}
#requests-menu-footer
{
 background-color: #000000;
}
.requests-menu-footer-button, .requests-menu-footer-label
{
 min-width: 1em;
 margin: 0;
 border: none;
 padding: 0px 1.5vw;
 color: #FFFFFF;
}
.requests-menu-footer-spacer
{
 min-width: 2px;
}
.requests-menu-footer-spacer, .requests-menu-footer-button
{
 -moz-border-end: 1px solid #404040;
}
.requests-menu-footer-button
{
 -moz-margin-start: 1px;
 -moz-appearance: none;
 background-color: #000000;
 border: 1px solid transparent;
 -moz-border-end: 1px solid #404040;
}
.requests-menu-footer-button:hover
{
 background-color: #101010;
 border-top-color: #A0A0A0;
 border-left-color: #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
}
.requests-menu-footer-button:hover:active
{
 background-color: #303030;
 border-top-color: #606060;
 border-left-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.requests-menu-footer-button:not(:active)[checked]
{
 background-color: #202020;
 border-top-color: #606060;
 border-left-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.requests-menu-footer-label
{
 font-weight: 600;
}

@media (max-width: 700px)
{
 #requests-menu-toolbar
 {
  height: 24px;
 }
 .requests-menu-header-button
 {
  min-height: 23px;
 }
 .requests-menu-footer-button, .requests-menu-footer-label
 {
  padding: 0px 2vw;
 }
 #details-pane
 {
  max-width: none;
  margin: 0 !important;
 }
 .requests-menu-status-and-method
 {
  width: 16vw;
 }
 .requests-menu-file, .requests-menu-domain
 {
  width: 30vw;
 }
 .requests-menu-type
 {
  width: 8vw;
 }
 .requests-menu-size
 {
  width: 16vw;
  border-width: 0 !important;
  box-shadow: none !important;
 }
}
@media (min-width: 701px)
{
 #network-table[type-overflows] .requests-menu-domain
 {
  border-width: 0 !important;
  box-shadow: none !important;
 }
 #network-table[domain-overflows] .requests-menu-file
 {
  border-width: 0 !important;
  box-shadow: none !important;
 }
}