.profiler-sidebar-empty-notice
{
 max-width: 176px;
 padding: 10px;
 background-color: #000000;
 color: white;
 font-weight: bold;
}
.devtools-toolbar
{
 min-height: 33px; 
}
.profiler-sidebar
{
 min-width: 196px;
}
.profiler-sidebar + .devtools-side-splitter
{
 -moz-border-start-color: transparent;
}
.profiler-sidebar-item
{
 padding: 3px 5px;
}
.profiler-sidebar-item > h3
{
 font-size: 13px;
 display: block;
}
.profiler-sidebar-item > span
{
 margin-top: 2px;
 color: #FFFFFF;
}
.selected .profiler-sidebar-item > span
{
 color: #FFFFFF;
}
#profiler-controls > toolbarbutton
{
 margin: 0;
 box-shadow: none;
 border-radius: 0;
 border-width: 0;
 -moz-border-end-width: 1px;
 outline-offset: -3px;
}
#profiler-controls > toolbarbutton:last-of-type
{
 -moz-border-end-width: 0;
}
#profiler-controls
{
 border: 1px solid #808080;
 margin: 0 3px;
}
#profiler-start
{
 list-style-image: url("chrome://browser/skin/devtools/profiler-stopwatch.png");
 -moz-image-region: rect(0px,16px,16px,0px);
}
#profiler-start[checked]
{
 -moz-image-region: rect(0px,32px,16px,16px);
}