.splitview-nav-container
{
 background-color: #000000;
 color: #FFFFFF;
}
.loading .splitview-nav-container
{
 background-image: url(chrome://global/skin/icons/loading_16.png);
 background-repeat: no-repeat;
 background-position: center center;
}
.splitview-nav
{
 -moz-appearance: none;
 margin: 0;
}
.splitview-nav > li
{
 color: #FFFFFF;
 background-clip: padding-box;
 border-bottom: 1px solid #404040;
 -moz-padding-end: 8px;
 -moz-box-align: center;
}
.splitview-nav
{
 list-style-image: none;
 list-style: none;
 padding: 0;
 margin: 0;
}
.splitview-nav > li
{
 outline: 0;
 vertical-align: bottom;
}
.placeholder
{
 -moz-box-flex: 1;
 text-align: center;
}
.splitview-nav > li.splitview-active
{
 background-image: url(itemArrow-ltr.png);
 background-repeat: no-repeat, no-repeat, repeat-x;
 background-position: center right, top right, top left;
 background-size: auto, 1px 100%, auto;
 border-bottom: 1px solid #A0A0A0;
 background-color: #404040;
}
.splitview-nav > li.splitview-active:-moz-locale-dir(rtl)
{
 background-image: url(itemArrow-rtl.png);
 background-repeat: no-repeat, no-repeat, repeat-x;
 background-position: center left, top left, top right;
}
.devtools-toolbar
{
 height: 26px;
 background-origin: border-box;
 background-clip: border-box;
 border-top-width: 0;
 border-bottom: 1px solid #606060;
 padding: 3px;
}
.splitview-main > toolbar:-moz-locale-dir(ltr)
{
 border-right: 1px solid #606060;
}
.splitview-main > toolbar:-moz-locale-dir(rtl)
{
 border-left: 1px solid #606060;
}
.devtools-toolbarbutton
{
 font-size: 11px;
 padding: 0 8px;
 width: auto;
 min-width: 48px;
 min-height: 0;
}

.splitview-landscape-resizer
{
 -moz-appearance: none;
 width: 7px;
 background-image: linear-gradient(to right, black 1px, rgba(255,255,255,0.2) 1px);
 background-size: 2px 10px;
 background-clip: padding-box;
 background-repeat: repeat-x;
 border-width: 1px;
 border-style: solid;
 border-color: rgba(255, 255, 255, 0.05);
 margin: 5px 0;
 transform: translateX(-7px);
}
.splitview-landscape-resizer:-moz-locale-dir(rtl)
{
 transform: translateX(7px);
}
.splitview-portrait-resizer
{
 -moz-appearance: none;
 background: linear-gradient(black 1px, rgba(255,255,255,0.2) 1px),
             linear-gradient(hsl(209,18%,34%), hsl(210,24%,16%));
 height: 12px;
 background-size: 10px 2px, 100% 12px;
 background-clip: content-box, border-box;
 background-repeat: repeat-y, no-repeat;
 background-position: center center;
 padding: 2px 0;
 border-top: 1px solid hsla(210,8%,5%,.5);
 border-bottom: 1px solid hsla(210,8%,5%,.5);
}