#style-editor-chrome
{
 background-color: #000000;
}
.stylesheet-title, .stylesheet-name
{
 text-decoration: none;
 color: #FFFFFF;
}
.stylesheet-name
{
 font-size: 13px;
}
.stylesheet-rule-count, .stylesheet-saveButton
{
 color: #FFFFFF;
}
.stylesheet-saveButton
{
 text-decoration: underline;
 cursor: pointer;
}
.splitview-active .stylesheet-title, .splitview-active .stylesheet-name
{
 color: #E0E0E0;
}
.splitview-active .stylesheet-rule-count, .splitview-active .stylesheet-saveButton
{
 color: #FFFFFF;
}
.splitview-nav:focus
{
 outline: 0; /* focus ring is on the stylesheet name */
}
.splitview-nav > li.unsaved > hgroup .stylesheet-name
{
 font-style: italic;
}
.splitview-nav:-moz-locale-dir(ltr) > li.unsaved > hgroup .stylesheet-name:before, .splitview-nav:-moz-locale-dir(rtl) > li.unsaved > hgroup .stylesheet-name:after
{
 font-style: italic;
}
.splitview-nav.empty > p
{
 padding: 0 10px;
}
.stylesheet-enabled
{
 padding: 8px 0;
 margin: 0 8px;
 background-image: url(itemToggle.png);
 background-repeat: no-repeat;
 background-clip: content-box;
 background-position: 0 8px;
 width: 24px;
 height: 40px;
}
.disabled > .stylesheet-enabled
{
 background-position: -24px 8px;
}
.splitview-nav > li > .stylesheet-enabled:focus, .splitview-nav > li:hover > .stylesheet-enabled
{
 outline: 0;
}
.stylesheet-error-message
{
 color: #FF0000;
}
.stylesheet-more > h3
{
 font-size: 11px;
 -moz-margin-end: 2px;
}
.devtools-searchinput
{
 max-width: 25ex;
 font-size: 11px;
}
.placeholder
{
 color: #FFFFFF;
}
.placeholder a
{
 text-decoration: underline;
}
h1, h2, h3
{
 font-size: inherit;
 font-weight: normal;
 margin: 0;
 padding: 0;
}
@media (max-width: 550px)
{
 .splitview-nav
 {
  box-shadow: none;
 }
 .splitview-nav > li.splitview-active
 {
  background-size: 0 0, 0 0, auto;
 }
 .stylesheet-enabled
 {
  padding: 0;
  background-position: 0 0;
  height: 24px;
 }
 .disabled > .stylesheet-enabled
 {
  background-position: -24px 0;
 }
 .splitview-nav > li > hgroup.stylesheet-info
 {
  -moz-box-align: baseline;
 }
}