#toolbox-controls
{
 margin: 0 4px;
}
#toolbox-controls > toolbarbutton, #toolbox-dock-buttons > toolbarbutton
{
 -moz-appearance: none;
 border: none;
 margin: 0 4px;
 min-width: 16px;
 width: 16px;
}
#toolbox-dock-bottom
{
 list-style-image: url("chrome://browser/skin/devtools/dock-bottom.png");
}
#toolbox-dock-side
{
 list-style-image: url("chrome://browser/skin/devtools/dock-side.png");
}
#toolbox-dock-window
{
 list-style-image: url("chrome://browser/skin/devtools/undock.png");
}
#toolbox-close
{
 list-style-image: url("chrome://browser/skin/devtools/toolbarbutton-close.png");
}
#toolbox-dock-window, #toolbox-dock-bottom, #toolbox-dock-side, #toolbox-close
{
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#toolbox-dock-window:hover, #toolbox-dock-bottom:hover, #toolbox-dock-side:hover, #toolbox-close:hover
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#toolbox-dock-window:hover:active, #toolbox-dock-bottom:hover:active, #toolbox-dock-side:hover:active, #toolbox-close:hover:active
{
 -moz-image-region: rect(0px, 48px, 16px, 32px);
}

#toolbox-controls-separator
{
 width: 3px;
 background-color: #000000;
 border-left: 1px solid #D0D0D0;
 border-right: 1px solid #606060;
 -moz-margin-start: 8px;
 margin-top: -1px;
 margin-bottom: -1px;
}
.command-button
{
 -moz-appearance: none;
 border: none;
 margin: 0;
 padding: 1px 8px;
 width: 16px;
}
.command-button:hover:active, .command-button[checked=true]
{
 padding-top: 2px;
 padding-bottom: 0px;
 padding-left: 9px;
 padding-right: 7px;
}
#command-button-paintflashing
{
 list-style-image: url("chrome://browser/skin/devtools/command-paintflashing.png");
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#command-button-paintflashing:hover
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#command-button-paintflashing:hover:active
{
 -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#command-button-paintflashing[checked=true]
{
 -moz-image-region: rect(0px, 64px, 16px, 48px);
}
#command-button-responsive
{
 list-style-image: url("chrome://browser/skin/devtools/command-responsivemode.png");
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#command-button-responsive:hover
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#command-button-responsive:hover:active
{
 -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#command-button-responsive[checked=true]
{
 -moz-image-region: rect(0px, 64px, 16px, 48px);
}
#command-button-tilt
{
 list-style-image: url("chrome://browser/skin/devtools/command-tilt.png");
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#command-button-tilt:hover
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#command-button-tilt:hover:active
{
 -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#command-button-tilt[checked=true]
{
 -moz-image-region: rect(0px, 64px, 16px, 48px);
}
#command-button-scratchpad
{
 list-style-image: url("chrome://browser/skin/devtools/command-scratchpad.png");
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#command-button-scratchpad:hover
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#command-button-scratchpad:hover:active
{
 -moz-image-region: rect(0px, 48px, 16px, 32px);
}

/* Tabs */
.devtools-tabbar
{
 -moz-appearance: none;
 background-color: #000000;
 border-top: 2px solid;
 -moz-border-top-colors: #000000 #606060;
 border-bottom: 1px solid #D0D0D0;
 min-height: 32px;
 padding: 0;
}
#toolbox-tabs
{
 margin: 0;
}
.devtools-tab
{
 -moz-appearance: none;
 min-width: 32px;
 min-height: 32px;
 max-width: 110px;
 background-color: #000000;
 color: #FFFFFF;
 border: 1px solid #D0D0D0;
 margin: 0px;
 margin-top: 1px;
 margin-bottom: -1px;
 padding: 0;
}
.devtools-tab > image
{
 -moz-margin-end: 0;
 -moz-margin-start: 4px;
 opacity: 0.6;
}
#toolbox-tab-options > image
{
 margin: 0 8px;
}
.devtools-tab:hover > image
{
 opacity: 0.8;
}
.devtools-tab:active > image, .devtools-tab[selected=true] > image
{
 opacity: 1;
}
/* .devtools-tab:hover
{
 background-color: #101010;
}
.devtools-tab:hover:active
{
 background-color: #303030
} */
.devtools-tab[selected=true]
{
 -moz-user-focus: normal;
 margin-top: 0;
 border-bottom-color: #000000;
 padding-bottom: 1px;
}
.devtools-tab:not([selected=true]).highlighted
{
 color: #D0D0D0;
}
.devtools-tab:not(.highlighted) > .highlighted-icon, .devtools-tab[selected=true] > .highlighted-icon, .devtools-tab:not([selected=true]).highlighted > .default-icon
{
 visibility: collapse;
}
#options-panel
{
 background: linear-gradient(to bottom, #000000, #101010) fixed #000000;
}
.options-vertical-pane
{
 margin: 15px;
 width: calc(50% - 30px);
 min-width: 400px;
 -moz-padding-start: 5px;
}
.options-vertical-pane > label
{
 padding: 5px 0;
 font-size: 1.4rem;
}
.options-groupbox
{
 -moz-margin-start: 15px;
 padding: 4px;
}
.options-groupbox > *
{
 padding: 2px;
}
.options-citation-label
{
 font-size: 1rem !important;
 /* !important is required otherwise font-size will still be 1.4rem */
 font-style: italic;
 padding: 4px 0 0; /* To align it with the checkbox */
 color: #C0C0C0;
}
.options-citation-label + label
{
 padding: 3px 0 0 !important; /* To align it with the checkbox */
 font-style: italic;
}