body
{
 font-family: sans-serif;
 font-size: 11px;
 background: #101010;
 color: #FFFFFF;
}
#header
{
 padding: 5px;
 overflow-x: auto;
 display: block;
}
h1
{
 font-size: 13px;
 line-height: 15px;
 padding: 3px 10px;
 vertical-align: bottom;
 margin: 0px;
 background: #202020;
 border-radius: 2px;
}
h1 .info
{
 font-size: 11px;
 line-height: 15px;
 vertical-align: bottom;
 float: right;
 color: #C0C0C0;
 padding-right: 3px;
}
.property-table
{
 padding: 2px 5px;
 background: #000000;
 color: #FFFFFF;
 width: 100%;
 max-height: 330px;
 overflow: auto;
 display: block;
}
.property-table-header
{
 font-size: 11px;
 font-weight: bold;
 padding-right: 4px;
 color: #FFFFFF;
 white-space: nowrap;
 text-align: right;
 vertical-align: top;
 width: 10%;
}
.property-table-value
{
 padding-right: 5px;
 font-size: 11px;
 word-wrap: break-word;
 width: 90%;
}
div.group
{
 margin-top: 10px;
}
div.group, #header
{
 background: #000000;
 border: 1px solid #606060;
 border-right-color: #A0A0A0;
 border-bottom-color: #A0A0A0;
 border-radius: 4px 4px 4px 4px;
}
img#responseImageNode
{
 box-shadow: #606060 2px 2px 3.5px;
 max-width: 100%;
}
#responseImageNodeDiv
{
 padding: 5px;
}
#responseBodyFetchLink, #requestBodyFetchLink
{
 padding: 5px;
 margin: 0;
 cursor: pointer;
 font-weight: bold;
 font-size: 1.1em;
 text-decoration: underline;
}
.longStringEllipsis
{
 margin-left: 0.6em;
}
