.generic-toggled-side-pane
{
 min-width: 50px;
 -moz-margin-start: 0px !important;
}
.generic-toggled-side-pane[animated]
{
 transition: margin 0.25s ease-in-out;
}
.breadcrumbs-widget-container
{
 -moz-margin-end: 3px;
 margin: -1px 0;
}

.breadcrumbs-widget-container:-moz-locale-dir(ltr)::after
{
 content: '';
 display: block;
 background-image:
  url(breadcrumbs/ltr-start.png),
  url(breadcrumbs/ltr-start-selected.png),
  url(breadcrumbs/ltr-start-pressed.png),
  url(breadcrumbs/ltr-start-selected-pressed.png),
  url(breadcrumbs/ltr-middle.png),
  url(breadcrumbs/ltr-middle-selected.png),
  url(breadcrumbs/ltr-middle-pressed.png),
  url(breadcrumbs/ltr-middle-selected-pressed.png),
  url(breadcrumbs/ltr-end.png),
  url(breadcrumbs/ltr-end-selected.png),
  url(breadcrumbs/ltr-end-pressed.png),
  url(breadcrumbs/ltr-end-selected-pressed.png);
}
.breadcrumbs-widget-container:-moz-locale-dir(rtl)::after
{
 content: '';
 display: block;
 background-image:
  url(breadcrumbs/rtl-start.png),
  url(breadcrumbs/rtl-start-selected.png),
  url(breadcrumbs/rtl-start-pressed.png),
  url(breadcrumbs/rtl-start-selected-pressed.png),
  url(breadcrumbs/rtl-middle.png),
  url(breadcrumbs/rtl-middle-selected.png),
  url(breadcrumbs/rtl-middle-pressed.png),
  url(breadcrumbs/rtl-middle-selected-pressed.png),
  url(breadcrumbs/rtl-end.png),
  url(breadcrumbs/rtl-end-selected.png),
  url(breadcrumbs/rtl-end-pressed.png),
  url(breadcrumbs/rtl-end-selected-pressed.png);
}
.scrollbutton-up, .scrollbutton-down
{
 -moz-appearance: none;
 background: #000000;
 border: 1px solid;
 border-top-color: #A0A0A0;
 border-left-color: #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
 margin: 1px 0 1px;
}
.scrollbutton-up:not([disabled]):hover, .scrollbutton-down:not([disabled]):hover
{
 background: #101010;
}
.scrollbutton-up:not([disabled]):active:hover, .scrollbutton-down:not([disabled]):active:hover
{
 background: #303030;
 border-top-color: #606060;
 border-left-color: #606060;
 border-bottom-color: #A0A0A0;
 border-right-color: #A0A0A0;
}
.scrollbutton-up > .toolbarbutton-icon, .scrollbutton-down > .toolbarbutton-icon
{
 -moz-appearance: none;
 list-style-image: url("breadcrumbs-scrollbutton.png");
 -moz-image-region: rect(0px,7px,16px,0px);
 margin: 0 5px;
}
.scrollbutton-up:not([disabled]):active:hover > .toolbarbutton-icon, .scrollbutton-down:not([disabled]):active:hover > .toolbarbutton-icon
{
 -moz-image-region: rect(0px,14px,16px,7px);
}
.scrollbutton-up[disabled] > .toolbarbutton-icon, .scrollbutton-down[disabled] > .toolbarbutton-icon
{
 opacity: 0.5;
}
.scrollbutton-up > .toolbarbutton-icon:-moz-locale-dir(rtl), .scrollbutton-down > .toolbarbutton-icon:-moz-locale-dir(ltr)
{
 transform: scaleX(-1);
}
.breadcrumbs-widget-item
{
 background-color: transparent;
 -moz-appearance: none;
 overflow: hidden;
 min-width: 85px;
 max-width: 250px;
 min-height: 25px;
 border-style: solid;
 border-width: 2px 13px;
 margin: 0 -11px 0 0;
 padding: 0 9px;
 outline: none;
 color: #FFFFFF;
}
.breadcrumbs-widget-item:-moz-focusring > label
{
 border-bottom: 1px dotted #FFFFFF;
}
.breadcrumbs-widget-item:-moz-focusring > .button-box
{
 border-width: 0;
}
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-tag
{
 color: #A0FFFF;
}
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-id
{
 color: #A0A0FF;
}
.breadcrumbs-widget-item[checked] .breadcrumbs-widget-item-pseudo-classes
{
 color: #A0A0A0;
}
.breadcrumbs-widget-item-id, .breadcrumbs-widget-item-classes
{
 color: #C0C0C0;
}
.breadcrumbs-widget-item-pseudo-classes
{
 color: #A0A0A0;
}
.breadcrumbs-widget-item:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-middle.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:not([checked]):hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-middle-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item[checked]:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-middle-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item[checked]:hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-middle-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-start.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type:not([checked]):hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-start-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type[checked]:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-start-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type[checked]:hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-start-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-end.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type:not([checked]):hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-end-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type[checked]:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-end-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type[checked]:hover:active:-moz-locale-dir(ltr)
{
 border-image: url("breadcrumbs/ltr-end-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-container[overflows] > .breadcrumbs-widget-item:first-of-type:-moz-locale-dir(ltr)
{
 border-left-width: 0;
}
.breadcrumbs-widget-container[overflows] > .breadcrumbs-widget-item:last-of-type:-moz-locale-dir(ltr)
{
 border-right-width: 0;
}
.breadcrumbs-widget-item:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-middle.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:not([checked]):hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-middle-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item[checked]:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-middle-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item[checked]:hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-middle-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-start.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type:not([checked]):hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-start-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type[checked]:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-start-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:first-of-type[checked]:hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-start-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-end.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type:not([checked]):hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-end-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type[checked]:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-end-selected.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-item:last-of-type[checked]:hover:active:-moz-locale-dir(rtl)
{
 border-image: url("breadcrumbs/rtl-end-selected-pressed.png") 2 13 2 13 fill stretch;
}
.breadcrumbs-widget-container[overflows] > .breadcrumbs-widget-item:first-of-type:-moz-locale-dir(rtl)
{
 border-right-width: 0;
}
.breadcrumbs-widget-container[overflows] > .breadcrumbs-widget-item:last-of-type:-moz-locale-dir(rtl)
{
 border-left-width: 0;
}

/* SideMenuWidget */
.side-menu-widget-container
{
 background: #000000;
 color: #FFFFFF;
}
.side-menu-widget-group-title
{
 background: #202020;
 padding: 4px;
 color: #FFFFFF;
}
.side-menu-widget-group:hover > .side-menu-widget-group-title
{
 color: #C0C0C0;
}
.side-menu-widget-item
{
 border-top: 1px solid #808080;
 cursor: pointer;
}
.side-menu-widget-item:last-of-type
{
 border-bottom: 1px solid #A0A0A0;
}
.side-menu-widget-item.selected
{
 background: #101010 !important;
}
.side-menu-widget-item.selected > .side-menu-widget-item-arrow
{
 background-size: auto, 1px 100%;
 background-repeat: no-repeat;
}
.side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(ltr)
{
 background-image: url(itemArrow-ltr.png);
 background-position: center right, top right;
}
.side-menu-widget-item.selected > .side-menu-widget-item-arrow:-moz-locale-dir(rtl)
{
 background-image: url(itemArrow-rtl.png);
 background-position: center left, top left;
}
.side-menu-widget-item-arrow
{
 -moz-margin-start: -8px;
 width: 8px;
}
.side-menu-widget-item-contents
{
 padding: 4px;
}
.side-menu-widget-item label
{
 cursor: inherit;
}
.side-menu-widget-item-other
{
 background: #000000;
 margin: 0 -4px;
 -moz-padding-start: 5px;
}
.side-menu-widget-item-other.selected
{
 background: #303030;
}
.side-menu-widget-item.selected .side-menu-widget-item-other:first-of-type
{
 border-top: 1px dotted #808080;
 margin-top: 3px;
}
.side-menu-widget-item-other:first-of-type
{
 margin-top: 4px;
}
.side-menu-widget-item-other:last-of-type
{
 margin-bottom: -4px;
}
.side-menu-widget-item-other > label
{
 color: #C0C0C0;
}
.side-menu-widget-empty-notice-container
{
 background: #000000;
 padding: 12px;
 color: #FFFFFF;
 font-weight: 600;
}

/* VariablesView */
.variables-view-container
{
 background: #000000;
}
.variables-view-empty-notice
{
 color: #A0A0A0;
 padding: 2px;
}
.variables-view-scope > .title
{
 color: #FFFFFF;
}
.variables-view-scope:focus > .title
{
 background: #101010;
 color: #E0E0E0;
}
.variables-view-scope > .variables-view-element-details:not(:empty)
{
 margin-top: 1px;
 -moz-margin-start: 2px;
 -moz-margin-end: 1px;
}
.variables-view-scope > .variables-view-element-details.enum:not(:empty)
{
 border-bottom: 1px solid #A0A0A0;
}

.variable-or-property
{
 color: #FFFFFF;
}
.variable-or-property[changed]
{
 background: #202020;
}
.variable-or-property > .title > .value
{
 -moz-padding-start: 6px;
 -moz-padding-end: 4px;
}
.variable-or-property:focus > .title
{
 background: #202020;
 color: #FFFFFF;
 border-radius: 4px;
}
.variable-or-property[editable] > .title > .value
{
 cursor: text;
}
.variable-or-property:not([non-header]) > .variables-view-element-details
{
 -moz-margin-start: 10px;
}

.variables-view-variable
{
 -moz-margin-start: 1px;
 -moz-margin-end: 1px;
 border-bottom: 1px solid #606060;
}
.variables-view-variable > .title > .name
{
 font-weight: 600;
}
.variables-view-variable:not(:focus) > .title > .name
{
 color: #E0FFE0;
}
.variables-view-property:not(:focus) > .title > .name
{
 color: #E0E0FF;
}

.variable-or-property:not(:focus) > .title > .token-undefined
{
 color: #A0A0A0;
}
.variable-or-property:not(:focus) > .title > .token-null
{
 color: #808080;
}
.variable-or-property:not(:focus) > .title > .token-boolean
{
 color: #C0C0C0;
}
.variable-or-property:not(:focus) > .title > .token-number
{
 color: #D0D0D0;
}
.variable-or-property:not(:focus) > .title > .token-string
{
 color: #FFFFFF;
}
.variable-or-property:not(:focus) > .title > .token-other
{
 color: #909090;
}

/* Non enumerable, configurable and writable variables and properties */
.variable-or-property[proto] > .title > .name, .variable-or-property[non-enumerable]:not([self]):not([exception]):not([return]) > .title > .name
{
 opacity: 0.5;
}
.variable-or-property[non-configurable] > .title > .name
{
 border-bottom: 1px dashed #808080;
}
.variable-or-property[non-configurable][non-writable] > .title > .name
{
 border-bottom: 1px dashed #606060;
}
.variable-or-property[safe-getter] > .title > .name
{
 border-bottom: 1px dashed #A0A0A0;
}
.variable-or-property[non-writable] > .title:after
{
 content: " ";
 display: inline-block;
 background: url("chrome://browser/skin/identity-icons-https.png") no-repeat;
 width: 16px;
 height: 16px;
 opacity: 0.5;
}
@media (min-resolution: 2dppx)
{
 .variable-or-property[non-writable] > .title:after
 {
  background-image: url("chrome://browser/skin/identity-icons-https@2x.png");
  background-size: 32px;
 }
}
.variable-or-property[exception]:not(:focus) > .title > .name
{
 color: #FFFFFF;
}
.variable-or-property[return]:not(:focus) > .title > .name
{
 color: #FFFFFF;
}
.variable-or-property[non-extensible]:not([non-writable]) > .title:after
{
 content: "N";
 display: inline-block;
}
.variable-or-property[sealed]:not([non-writable]) > .title:after
{
 content: "S";
 display: inline-block;
}
.variable-or-property[frozen]:not([non-writable]) > .title:after
{
 content: "F";
 display: inline-block;
}

.variable-or-property > tooltip > label
{
 margin: 0 2px 0 2px;
}
.variable-or-property[non-enumerable] > tooltip > label[value=enumerable], .variable-or-property[non-configurable] > tooltip > label[value=configurable], .variable-or-property[non-writable] > tooltip > label[value=writable]
{
 text-decoration: line-through;
}
.variable-or-property:not([safe-getter]) > tooltip > label[value=native-getter], .variable-or-property:not([non-extensible]) > tooltip > label[value=non-extensible], .variable-or-property:not([frozen]) > tooltip > label[value=frozen], .variable-or-property:not([sealed]) > tooltip > label[value=sealed]
{
 display: none;
}

.variables-view-delete
{
 list-style-image: url("chrome://browser/skin/devtools/toolbarbutton-close.png");
 -moz-image-region: rect(0,32px,16px,16px);
 opacity: 0;
}
.variables-view-delete:hover
{
 opacity: 1;
}
*:hover > .title > .variables-view-delete:not(:hover), *:focus > .title > .variables-view-delete:not(:hover)
{
 opacity: 0.5;
 transition: opacity 0.2s ease-in-out;
}
.variables-view-delete > .toolbarbutton-text
{
 display: none;
}
.variables-view-edit
{
 background: url("chrome://browser/skin/tabview/edit-light.png") center no-repeat;
 width: 20px;
 height: 16px;
 cursor: pointer;
}
.variables-view-throbber
{
 background: url("chrome://global/skin/icons/loading_16.png") center no-repeat;
  width: 16px;
  height: 16px;
}
.element-value-input
{
 -moz-margin-start: 4px !important;
 -moz-margin-end: 2px !important;
}
.element-name-input
{
 -moz-margin-start: -2px !important;
 -moz-margin-end: 2px !important;
 color: #FFFFFF;
 font-weight: 600;
}
.element-value-input, .element-name-input
{
 border: 1px solid #808080 !important;
}

/* Variables and properties searching */
.variables-view-searchinput
{
 min-height: 24px;
}
.variable-or-property[non-match]
{
 border: none;
 margin: 0;
}

/* Expand/collapse arrow */

.arrow
{
 background: url("chrome://global/skin/tree/twisty-clsd.png") center center no-repeat;
 width: 9px;
 height: 20px;
 -moz-margin-start: 5px;
 -moz-margin-end: 5px;
}
.arrow[open]
{
 background-image: url("chrome://global/skin/tree/twisty-open.png");
}
.arrow[invisible]
{
 visibility: hidden;
}