@media not print
{
 /* N.B.: Remember to update ImageDocument.css in the tree or reftests may fail! */
 body
 {
  color: #FFFFFF;
  height: 100%;
  background: radial-gradient(circle at 50% 0%, #202020 0%, #000000 100%) fixed #000000;
 }
}
