#icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric.png");
 max-width: 48px;
 max-height: 48px;
 -moz-margin-end: 6px;
}
#eula-dialog[addontype="theme"] #icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric.png");
}
#eula-dialog[addontype="locale"] #icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/localeGeneric.png");
}
#eula-dialog[addontype="plugin"] #icon
{
 list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric.png");
}
#eula-dialog[addontype="dictionary"] #icon
{
 list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric.png");
}
#heading-container
{
 -moz-box-align: center;
}
#heading
{
 font-size: 120%;
}
#eula
{
 -moz-appearance: none;
 color: #FFFFFF;
 background-color: #000000;
 margin: 1em;
 border: 1px solid;
 -moz-border-top-colors: #D0D0D0;
 -moz-border-right-colors: #606060;
 -moz-border-bottom-colors: #606060;
 -moz-border-left-colors: #D0D0D0;
}