#view-deck
{
 background: #000000;
}
.heading
{
 font-size: 270%;
 text-align: center;
 margin: 0 120px;
}
.progress
{
 margin: 10px 128px;
}
.progress-label, #errors-description
{
 text-align: center;
 margin: 0 10px;
}
#checking-heading, #update-heading, #errors-heading
{
 margin-top: 90px;
}
#select-heading, #confirm-heading
{
 margin-top: 10px;
 margin-bottom: 10px;
 text-align: center;
}
#select-description, #confirm-description
{
 margin: 10px;
}
#select-list
{
 border-top: 1px solid #606060;
 background-color: #000000;
}
#select-grid column
{
 -moz-box-align: center;
}
#select-grid row
{
 -moz-box-align: stretch;
}
#select-grid label
{
 margin-top: 0;
 margin-bottom: 0;
}
.select-cell
{
 -moz-box-align: center;
 -moz-box-pack: start;
}
#select-header .select-cell
{
 -moz-box-sizing: border-box;
}
#select-header .select-keep, #select-header .select-icon, #select-header .select-name, #select-header .select-action
{
 background-color: #202020;
 background-size: 1px 100%;
 background-position: right;
 background-repeat: no-repeat;
}
.select-keep
{
 -moz-box-pack: center;
}
.select-icon
{
 width: 20px;
}
.select-keep .addon-keep-checkbox
{
 margin: 0;
 padding: 0;
 width: 13px;
}
.select-keep .addon-keep-checkbox:-moz-focusring
{
 outline: 1px dotted #C0C0C0;
}
.select-keep .checkbox-label-box
{
 display: none;
}
.addon-name, .addon-action-message, .addon-action-update
{
 -moz-box-sizing: border-box;
 margin: 0;
 padding-top: 1px;
 padding-bottom: 2px;
 -moz-padding-start: 6px;
 -moz-padding-end: 5px;
}
#select-grid separator
{
 border-top: 1px solid #606060;
 height: 0;
 margin-top: 0.4em;
 margin-bottom: 0.4em;
}
.addon:not([active]) .addon-name, .addon:not([active]) .addon-action-message, .addon:not([active]) .addon-action-update
{
 color: #D0D0D0;
}
.addon-icon
{
 height: 16px;
 width: 16px;
 list-style-image: url("chrome://mozapps/skin/extensions/extensionGeneric-16.png");
}
.addon-icon[type="theme"]
{
 list-style-image: url("chrome://mozapps/skin/extensions/themeGeneric-16.png");
}
.addon-icon[type="plugin"]
{
 list-style-image: url("chrome://mozapps/skin/plugins/pluginGeneric-16.png");
}
.addon-icon[type="dictionary"]
{
 list-style-image: url("chrome://mozapps/skin/extensions/dictionaryGeneric-16.png");
}
.action-list
{
 margin-top: 10px;
 -moz-margin-start: 5em;
}
.action-header
{
 margin-bottom: 10px;
}
#confirm .addon
{
 -moz-margin-start: 3em;
 -moz-box-align: center;
}
.addon:not([active]) .addon-icon, #disable-list .addon-icon, #incompatible-list .addon-icon
{
 filter: url("chrome://mozapps/skin/extensions/extensions.svg#greyscale");
}
#footer
{
 padding: 15px 12px;
}
.progress-label, #footer-label
{
 font-style: italic;
 color: #FFFFFF;
}
@media (-moz-windows-default-theme)
{
 #footer
 {
  background-color: #000000;
 }
}