@import url("chrome://global/skin/inContentUI.css");
.downloadButton
{
 box-shadow: none;
}
.downloadButton:not([disabled="true"]):hover:active, .downloadButton:not([disabled]):hover:active
{
 background: transparent;
 border: none;
 box-shadow: none;
}
#downloadsListEmptyDescription
{
 margin: 1em;
 text-align: center;
 color: #A0A0A0;
}
