#downloads-indicator-anchor
{
  position: relative;
}

/*** Main indicator icon ***/

#downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-large.png"), 0, 192, 32, 160) center no-repeat;
 min-width: 32px;
 min-height: 32px;
}
#downloads-indicator:hover #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-large.png"), 32, 192, 64, 160) center no-repeat;
}
#downloads-indicator:hover:active #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-large.png"), 64, 192, 96, 160) center no-repeat;
}
#downloads-indicator[disabled="true"] #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-large.png"), 96, 192, 128, 160) center no-repeat;
}

toolbar[iconsize="small"] #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 96, 16, 80) center no-repeat;
 min-width: 16px;
 min-height: 16px;
}
toolbar[iconsize="small"] #downloads-indicator:hover #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 16, 96, 32, 80) center no-repeat;
}
toolbar[iconsize="small"] #downloads-indicator:hover:active #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 32, 96, 48, 80) center no-repeat;
}
toolbar[iconsize="small"] #downloads-indicator[disabled="true"] #downloads-indicator-icon
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 48, 96, 64, 80) center no-repeat;
}


#downloads-indicator[attention="true"] > #downloads-indicator-anchor > #downloads-indicator-icon
{
 background-image: url("chrome://browser/skin/downloads/download-glow.png");
 width: 32px;
 height: 32px;
}
toolbar[iconsize="small"] #downloads-indicator[attention="true"] > #downloads-indicator-anchor > #downloads-indicator-icon
{
 background-image: url("chrome://browser/skin/downloads/download-glow-small.png");
 width: 16px;
 height: 16px;
}
/* In the next few rules, we use :not([counter]) as a shortcut that is
   equivalent to -moz-any([progress], [paused]). */

#downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter
{
 background: -moz-image-rect(url("chrome://browser/skin/downloads/download-norm.png"), 0, 32, 32, 0) center no-repeat;
 background-size: 12px;
}
toolbar[iconsize="small"] #downloads-indicator:not([counter]) > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter
{
 background: -moz-image-rect(url("chrome://browser/skin/downloads/download-norm-small.png"), 0, 16, 16, 0) center no-repeat;
 background-size: 10px;
}
#downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter
{
 background-image: url("chrome://browser/skin/downloads/download-glow.png");
}
toolbar[iconsize="small"] #downloads-indicator:not([counter])[attention] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-counter
{
 background-image: url("chrome://browser/skin/downloads/download-glow-small.png");
}
/*** Download notifications ***/

#downloads-indicator-notification {
  opacity: 0;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes downloadsIndicatorNotificationStartRight {
  from { opacity: 0; transform: translate(-128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

@keyframes downloadsIndicatorNotificationStartLeft {
  from { opacity: 0; transform: translate(128px, 128px) scale(8); }
  20%  { opacity: .85; animation-timing-function: ease-out; }
  to   { opacity: 0; transform: translate(0) scale(1); }
}

#downloads-indicator[notification="start"] > #downloads-indicator-anchor > #downloads-indicator-notification {
  background-image: url("chrome://browser/skin/downloads/download-notification-start.png");
  animation-name: downloadsIndicatorNotificationStartRight;
  animation-duration: 1s;
}

#downloads-indicator[notification="start"]:-moz-locale-dir(rtl) > #downloads-indicator-anchor > #downloads-indicator-notification {
  animation-name: downloadsIndicatorNotificationStartLeft;
}

@keyframes downloadsIndicatorNotificationFinish {
  from { opacity: 0; transform: scale(1); }
  20%  { opacity: .65; animation-timing-function: ease-in; }
  to   { opacity: 0; transform: scale(8); }
}

#downloads-indicator[notification="finish"] > #downloads-indicator-anchor > #downloads-indicator-notification
{
 background-image: url("chrome://browser/skin/downloads/download-notification-finish.png");
 animation-name: downloadsIndicatorNotificationFinish;
 animation-duration: 1s;
}
/*** Progress bar and text ***/

#downloads-indicator-counter
{
 height: 9px;
 margin: -3px 0px 0px 0px;
 color: #FFFFFF;
 text-shadow: #808080 0 1px;
 font-size: 9px;
 line-height: 9px;
 text-align: center;
}

#downloads-indicator-progress
{
 width: 16px;
 height: 5px;
 min-width: 0;
 min-height: 0;
 margin-top: 1px;
 background-color: #000000;
}

#downloads-indicator-progress > .progress-bar
{
 -moz-appearance: none;
 min-width: 0;
 min-height: 0;
 background-color: #000000;
 border: 1px solid #A0A0A0;
}
#downloads-indicator-progress > .progress-remainder
{
 -moz-appearance: none;
 min-width: 0;
 min-height: 0;
 background-color: #808080;
}

#downloads-indicator[paused] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-progress > .progress-bar
{
 background-color: #FF8000;
}

#downloads-indicator[paused] > #downloads-indicator-anchor > #downloads-indicator-progress-area > #downloads-indicator-progress > .progress-remainder
{
 background-color: #FFFF00;
}
toolbar[mode="full"] > #downloads-indicator > .toolbarbutton-text
{
 margin: 0;
 text-align: center;
}
#downloads-indicator-counter
{
 margin-bottom: -1px;
}