html
{
 background: #000000;
 font: 3mm tahoma,arial,helvetica,sans-serif;
}
#feedBody
{
 border: 1px solid #C0C0C0;
 padding: 3em;
 -moz-padding-start: 30px;
 margin: 2em auto;
 background: #000000;
}
#feedHeaderContainer
{
 border: 1px solid #C0C0C0;
 -moz-border-radius: 10px;
 margin: -4em auto 0 auto;
 background-color: #000000;
}

#feedHeader
{  
 margin-top: 4.9em;
 margin-bottom: 1em;
 -moz-margin-start: 1.4em;
 -moz-margin-end: 1em;
 -moz-padding-start: 2.9em;
 font-size: 110%;
 color: #FFFFFF;
}
.feedBackground
{
 background: url("chrome://browser/skin/feeds/feedIcon.png") 0% 10% no-repeat #000000;
}
.videoPodcastBackground
{
 background: url("chrome://browser/skin/feeds/videoFeedIcon.png") 0% 10% no-repeat #000000;
}
.audioPodcastBackground
{
 background: url("chrome://browser/skin/feeds/audioFeedIcon.png") 0% 10% no-repeat #000000;
}
#feedHeader[dir="rtl"]
{
 background-position: 100% 10%;
}
#feedIntroText
{
 display: none;
}
#feedHeader[firstrun="true"] #feedIntroText
{
 padding-top: 0.1em;
 -moz-padding-start: 0.6em;
 display: block;
}
#feedHeader[firstrun="true"] > #feedSubscribeLine
{
 -moz-padding-start: 1.8em;
}
#feedSubscribeLine
{
 padding-top: 0.2em;
}
@media print
{
 #feedHeaderContainer
 {
  display: none;
 }
}
body
{
 margin: 0;
 padding: 0 3em;
 color: #FFFFFF;
 font: message-box;
}
h1
{
 font-size: 160%;
 border-bottom: 2px solid #C0C0C0;
 margin: 0 0 .2em 0;
}
h2
{
 color: #C0C0C0;
 font-size: 110%;
 font-weight: normal;
 margin: 0 0 .6em 0;
}
#feedTitleLink
{
 float: right;
 -moz-margin-start: .6em;
 -moz-margin-end: 0;
 margin-top: 0;
 margin-bottom: 0;
}
a[href] img
{
 border: none;
}
#feedTitleContainer
{
 -moz-margin-start: 0;
 -moz-margin-end: .6em;
 margin-top: 0;
 margin-bottom: 0;
}
#feedTitleImage
{
 -moz-margin-start: .6em;
 -moz-margin-end: 0;
 margin-top: 0;
 margin-bottom: 0;
 max-width: 300px;
 max-height: 150px;
}
.feedEntryContent
{
 font-size: 110%;
}
.link
{
 color: #FFFFFF;
 cursor: pointer;
}
.link:hover
{
 text-decoration: underline;
}
.link:hover:active
{
 text-decoration: underline;
 color: #7F7F7F;
}
.lastUpdated
{
 font-size: 85%;
 font-weight: normal;
}
.type-icon
{
 vertical-align: bottom;
 height: 16px;
 width: 16px;
}
.enclosures
{
 border: 1px solid #C0C0C0;
 padding: 1em;
 margin: 1em auto;
 background: #000000;
}
.enclosure
{
 vertical-align: middle;
 margin-left: 2px;
}