.folder-icon > .menulist-label-box > .menulist-icon
{
 width: 16px;
 height: 16px;
}
.folder-icon > .menu-iconic-left
{
 display: -moz-box;
}
.folder-icon
{
 list-style-image: url("chrome://global/skin/icons/folder-item.png") !important;
 -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
.expander-up, .expander-down
{
 min-width: 0;
 margin: 0;
 -moz-margin-end: 4px;
}
.expander-up > .button-box, .expander-down > .button-box
{
 padding: 0;
}
.expander-up
{
 list-style-image: url("chrome://global/skin/icons/collapse.png");
}
.expander-down
{
 list-style-image: url("chrome://global/skin/icons/expand.png");
}
#editBookmarkPanelContent
{
 min-width: 23em;
}
#editBMPanel_folderTree
{
 margin-top: 2px;
 margin-bottom: 2px;
}
#editBMPanel_tagsField #treecolAutoCompleteValue
{
 visibility: collapse;
}
#editBMPanel_folderMenuList[selectedIndex="0"], #editBMPanel_toolbarFolderItem
{
 list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png") !important;
 -moz-image-region: auto !important;
}
#editBMPanel_folderMenuList[selectedIndex="1"], #editBMPanel_bmRootItem
{
 list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png") !important;
 -moz-image-region: auto !important;
}
#editBMPanel_folderMenuList[selectedIndex="2"], #editBMPanel_unfiledRootItem
{
 list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png") !important;
 -moz-image-region: auto !important;
}