.sidebar-placesTree
{
 -moz-appearance: none;
 border: 0;
 margin: 0;
 border-top: 1px solid #A0A0A0;
}
.sidebar-placesTreechildren::-moz-tree-cell(leaf), .sidebar-placesTreechildren::-moz-tree-image(leaf)
{
 cursor: pointer;
}
.sidebar-placesTreechildren::-moz-tree-cell-text(leaf, hover)
{
 cursor: pointer;
 text-decoration: underline;
}
.sidebar-placesTreechildren::-moz-tree-cell(separator)
{
 cursor: default;
}
treechildren::-moz-tree-image(title)
{
 list-style-image: url("chrome://mozapps/skin/places/defaultFavicon.png");
 padding-right: 2px;
 margin: 0px 2px;
 width: 16px;
 height: 16px;
}
treechildren::-moz-tree-image(title, livemarkItem)
{
 list-style-image: url("chrome://browser/skin/places/livemark-item.png");
 -moz-image-region: rect(0px, 16px, 16px, 0px);
}
treechildren::-moz-tree-image(title, livemarkItem, visited)
{
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
treechildren::-moz-tree-image(title, separator)
{
 list-style-image: none;
 width: 0;
 height: 0;
}
treechildren::-moz-tree-image(title, container)
{
 list-style-image: url("chrome://global/skin/icons/folder-item.png");
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
treechildren::-moz-tree-image(title, open)
{
 -moz-image-region: rect(16px, 32px, 32px, 16px);
}
treechildren::-moz-tree-image(title, container, livemark)
{
 list-style-image: url("chrome://browser/skin/livemark-folder.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_AllBookmarks)
{
 list-style-image: url("chrome://browser/skin/places/allBookmarks.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksToolbar)
{
 list-style-image: url("chrome://browser/skin/places/bookmarksToolbar.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_BookmarksMenu)
{
 list-style-image: url("chrome://browser/skin/places/bookmarksMenu.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(container, OrganizerQuery_UnfiledBookmarks)
{
 list-style-image: url("chrome://browser/skin/places/unsortedBookmarks.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query)
{
 list-style-image: url("chrome://browser/skin/places/query.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, tagContainer), treechildren::-moz-tree-image(query, OrganizerQuery_Tags)
{
 list-style-image: url("chrome://browser/skin/places/tag.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(query, OrganizerQuery_Downloads)
{
 list-style-image: url("chrome://browser/skin/places/downloads.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, dayContainer)
{
 list-style-image: url("chrome://browser/skin/places/calendar.png");
 -moz-image-region: auto;
}
treechildren::-moz-tree-image(title, query, hostContainer)
{
 list-style-image: url("chrome://global/skin/icons/folder-item.png");
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
treechildren::-moz-tree-image(title, query, hostContainer, open)
{
 list-style-image: url("chrome://global/skin/icons/folder-item.png");
 -moz-image-region: rect(16px, 32px, 32px, 16px);
}
treechildren::-moz-tree-image(title, query, OrganizerQuery_History)
{
 list-style-image: url("chrome://browser/skin/places/history.png");
}
treechildren::-moz-tree-image(title, query, folder)
{
 list-style-image: url("chrome://global/skin/icons/folder-item.png");
 -moz-image-region: rect(0px, 32px, 16px, 16px);
}
treechildren::-moz-tree-image(title, query, folder, open)
{
 -moz-image-region: rect(16px, 32px, 32px, 16px);
}
treechildren::-moz-tree-image(cutting)
{
 opacity: 0.5;
}
treechildren::-moz-tree-cell-text(cutting)
{
 opacity: 0.7;
}
#viewButton
{
 margin-top: 2px;
 margin-bottom: 2px;
}
#viewButton > .button-box > .button-menu-dropmarker
{
 height: auto;
 width: auto;
 -moz-margin-end: -3px;
}

/* Organizer Menu */
menuitem#newbookmark
{
 background: -moz-image-rect(url("chrome://browser/skin/places/bookmark.png"), 0, 16, 16, 0) left center no-repeat;
}
menuitem#newfolder
{
 background: -moz-image-rect(url("chrome://global/skin/icons/folder-item.png"), 0, 32, 16, 16) left center no-repeat;
}
menuitem#orgUndo
{
 background: url("chrome://browser/skin/menu-back.png") left center no-repeat;
}
menuitem#orgRedo
{
 background: url("chrome://browser/skin/menu-forward.png") left center no-repeat;
}
menuitem#orgCut
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 192, 16, 176) left center no-repeat;
}
menuitem#orgCopy
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 208, 16, 192) left center no-repeat;
}
menuitem#orgPaste
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 224, 16, 208) left center no-repeat;
}
menuitem#orgDelete
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32) left center no-repeat; 
}
menuitem#orgSelectAll
{
 background: url("chrome://global/skin/icons/information-16.png") left center no-repeat; 
}
menuitem#orgMoveBookmarks
{
 background: url("chrome://browser/skin/sync-16.png") left center no-repeat;
}
menuitem#orgClose
{
 background: -moz-image-rect(url("chrome://browser/skin/Toolbar-small.png"), 0, 48, 16, 32) left center no-repeat;
}