@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.console-box
{
  background-color: #000000;
  color: #FFFFFF;
}
.console-row
{
 border: 2px solid;
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 padding: 4px 0px;
}
.console-row-icon
{
 padding: 4px;
 -moz-padding-start: 5px;
 -moz-box-align: start !important;
}
.console-row-msg > label, .console-row-file > label:first-child
{
 display: none;
}
.console-time
{
 font-weight: normal !important;
}
.console-icon
{
 list-style-image: inherit;
}
.console-error-msg
{
 margin-bottom: 2px;
}
.console-row-code
{
 padding-top: 3px;
 padding-bottom: 3px;
 -moz-padding-start: 3px;
 -moz-padding-end: 0px;
 color: #B0B0B0;
 font-size: larger;
}
.console-dots, .console-caret
{
 height: 9px;
}
.console-dots
{
 background: url("chrome://global/skin/console/console-error-dash.gif") repeat-x top;
}
.console-caret
{
 width: 7px;
 background: url("chrome://global/skin/console/console-error-caret.gif") no-repeat top;
}
.console-row[type="message"]
{
 font-family: monospace;
}
.console-row[selected="true"]
{
 border: 2px solid;
 -moz-border-top-colors: #000000 #606060;
 -moz-border-right-colors: #000000 #D0D0D0;
 -moz-border-bottom-colors: #000000 #D0D0D0;
 -moz-border-left-colors: #000000 #606060;
 background-color: #202020;
}
.console-row-code[selected="true"], .console-row-content[selected="true"] > .console-row-file > .console-error-source > .text-link
{
 background-color: #202020;
 color: inherit !important;
}
.console-row[type="error"], .console-row[type="exception"]
{
 list-style-image: url("chrome://global/skin/icons/error-16.png");
}
.console-row[type="error"] .console-row-msg, .console-row[type="exception"] .console-row-msg
{
 font-weight: bold;
}
.console-row[type="warning"]
{
 list-style-image: url("chrome://global/skin/icons/warning-16.png");
}
.console-row[type="message"]
{
 list-style-image: url("chrome://global/skin/icons/question-16.png");
}
#TextboxEval
{
 margin: 2px !important;
 background-color: #000000 !important;
 color: #FFFFFF !important;
}
#ButtonEval
{
 margin-top: 2px !important;
 margin-bottom: 2px !important;
 -moz-margin-start: 0px !important;
 -moz-margin-end: 2px !important;
}
toolbarseparator
{
 min-height: 1em;
}
#ToolbarMode toolbarbutton
{
 min-width: 57px;
 padding: 4px !important;
}
toolbar#ToolbarMode toolbarbutton:active, toolbar#ToolbarMode toolbarbutton[checked="true"]
{
 -moz-padding-start: 5px !important;
 -moz-padding-end: 3px !important;
}
toolbar#ToolbarMode toolbarbutton
{
 list-style-image: url("chrome://global/skin/console/console-toolbar.png");
 -moz-box-orient: horizontal;
 padding: 4px !important;
}
#Console\:modeAll
{
 -moz-image-region: rect(0px 24px 24px 0px);
}
#Console\:modeAll
{
 -moz-image-region: rect(0px 24px 24px 0px);
}
#Console\:modeAll:hover, #Console\:modeAll[checked="true"]
{
 -moz-image-region: rect(24px 24px 48px 0px);
}
#Console\:modeErrors
{
 -moz-image-region: rect(0px 96px 24px 72px);
}
#Console\:modeErrors:hover, #Console\:modeErrors[checked="true"]
{
 -moz-image-region: rect(24px 96px 48px 72px);
}
#Console\:modeWarnings
{
 -moz-image-region: rect(0px 72px 24px 48px);
}
#Console\:modeWarnings:hover, #Console\:modeWarnings[checked="true"]
{
 -moz-image-region: rect(24px 72px 48px 48px);
}
#Console\:modeMessages
{
 -moz-image-region: rect(0px 48px 24px 24px);
}
#Console\:modeMessages:hover, #Console\:modeMessages[checked="true"]
{
 -moz-image-region: rect(24px 48px 48px 24px);
}
#Console\:clear
{
 -moz-image-region: rect(0px 120px 24px 96px);
}
#Console\:clear:hover, #Console\:clear[checked="true"]
{
 -moz-image-region: rect(24px 120px 48px 96px);
}
toolbar#ToolbarMode .toolbarbutton-icon
{
 padding: 2px 0 !important;
}
toolbar#ToolbarMode .toolbarbutton-text
{
 -moz-padding-end: 4px;
}
.toolbarbutton-text
{
 -moz-padding-start: 0px;
 -moz-padding-end: 5px;
}
#ToolbarMode
{
 -moz-appearance: none;
 background-color: black;
 color: white;
 border: 0px;
 border-bottom: 1px solid #606060;
}
#ToolbarEval
{
 -moz-appearance: none;
 background-color: black;
 color: white;
 border: 0px;
 border-top: 1px solid #C0C0C0;
}