#tabs-display, #tabsList
{
 background-color: transparent;
 -moz-appearance: none;
 margin: 0;
}
#tabsList
{
 width: 100%;
}
#tabs-display
{
 background: #000000 url(chrome://browser/skin/sync-bg.png) repeat-x center -80px;
}
#headers
{
 background: url(chrome://browser/skin/sync-32.png) no-repeat;
 margin-top: 4px;
 width: 45em;
 height: 32px;
 -moz-margin-start: 2em;
 -moz-margin-end: 2em;
}
#tabsListHeading
{
 font-size: 140%;
 font-weight: bold;
 -moz-margin-start: 40px;
}
richlistitem
{
 -moz-margin-end: 2em;
}
richlistitem[selected="true"], richlistitem:focus
{
 outline-style: none;
}
richlistitem[type="tab"]
{
 min-height: 3em;
 border: #606060 1px solid !important;
 padding: 2px 5px;
 margin-bottom: 4px;
 -moz-margin-start: 4em;
 border-radius: 6px;
 background-color: #000000;
 width: 44em;
 opacity: 0.9;
}
richlistitem[type="tab"][selected="true"]
{
 background-color: #202020;
}
richlistitem[type="client"]
{
 min-height: 2em;
 color: #FFFFFF;
 -moz-margin-start: 2em;
 margin-top: 2px;
 margin-bottom: 3px;
 width: 42em;
 border-radius: 6px;
 background-color: transparent;
 -moz-user-focus: ignore !important;
}
richlistitem.mobile[type="client"]
{
 list-style-image: url("chrome://browser/skin/sync-mobileIcon.png");
}
richlistitem.desktop[type="client"]
{
 list-style-image: url("chrome://browser/skin/sync-desktopIcon.png");
}
.title, .clientName
{
 color: #FFFFFF;
 font-size: 1.1em;
}
.title[selected="true"], .url[selected="true"]
{
 color: inherit;
}
.url
{
 color: #FFFFFF;
 text-decoration: none !important;
 font-size: 0.95em;
}
.url:hover
{
 text-decoration: underline !important;
}
.tabIcon
{
 -moz-padding-start: 2px;
 padding-top: 2px;
}
