body
{
 background-color: #000000;
 margin-top: 2em;
 font: message-box;
 font-size: 100%;
}
p
{
 font-size: .8em;
}
#error-box
{
 background: url('chrome://global/skin/icons/information-24.png') no-repeat left 4px;
 -moz-padding-start: 30px;
}
#error-box:-moz-locale-dir(rtl)
{
 background-position: right 4px;
}
#main-error-msg
{
 color: #FFFFFF;
 font-weight: bold;
}
#button-box
{
 text-align: center;
 width: 75%;
 margin: 0 auto;
}
@media all and (min-width: 300px)
{
 #error-box
 {
  max-width: 50%;
  margin: 0 auto;
  background-image: url('chrome://global/skin/icons/information-32.png');
  min-height: 36px;
  -moz-padding-start: 38px;
 }
 button
 {
  width: auto !important;
  min-width: 150px;
 }
}
@media all and (min-width: 780px)
{
 #error-box
 {
  max-width: 30%;
 }
}
button
{
 font: message-box;
 font-size: 0.6875em;
 -moz-appearance: none;
 -moz-user-select: none;
 width: 100%;
 margin: 1px;
 min-width: 60px;
 min-height: 25px;
 border: 2px solid;
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 background-color: #000000;
 color: #FFFFFF;
}
button:hover
{
 -moz-border-top-colors: transparent #D0D0D0;
 -moz-border-right-colors: transparent #606060;
 -moz-border-bottom-colors: transparent #606060;
 -moz-border-left-colors: transparent #D0D0D0;
 background-color: #303030;
}
button:hover:active
{
 -moz-border-top-colors: #606060 #505050;
 -moz-border-right-colors: #D0D0D0 #505050;
 -moz-border-bottom-colors: #D0D0D0 #505050;
 -moz-border-left-colors: #606060 #505050;
 background-color: #404040;
}