wizard
{
 -moz-appearance: none;
 width: 55em;
 height: 45em;
 padding: 0;
 background-color: #000000;
}
.wizard-page-box
{
 -moz-appearance: none;
 padding-left: 0;
 padding-right: 0;
 margin: 0;
}
wizardpage
{
 -moz-box-pack: center;
 -moz-box-align: center;
 margin: 0;
 padding: 0 6em;
 background-color: #000000;
}
.wizard-header
{
 -moz-appearance: none;
 border: none;
 padding: 2em 0 1em 0;
 text-align: center;
}
.wizard-header-label
{
 font-size: 24pt;
 font-weight: normal;
}
.wizard-buttons
{
 background-color: #000000;
 padding: 1em;
}
.wizard-buttons-separator
{
 visibility: collapse;
}
.wizard-header-icon
{
 visibility: collapse;
}
.accountChoiceButton
{
 font: menu;
}
.confirm
{
 border: 1px solid #C0C0C0;
 padding: 1em;
 border-radius: 5px;
}
description > .text-link, description > .text-link:focus
{
 margin: 0px;
 padding: 0px;
 border: 0px;
}
.success, .error
{
 padding: 2px;
 border-radius: 2px;
}
.error
{
 background-color: #400000 !important;
 color: #FF0000 !important;
}
.success
{
 background-color: #004000 !important;
}
.warning
{
 font-weight: bold;
 font-size: 100%;
 color: #FFFF00;
}
.mainDesc
{
 font-weight: bold;
 font-size: 100%;
}
.normal
{
 font-size: 100%;
}
.inputColumn
{
 -moz-margin-end: 2px
}
.pin
{
 font-size: 18pt;
 width: 4em;
 text-align: center; 
}
#passphraseHelpSpacer
{
 width: 0.5em;
}
#pairDeviceThrobber > image, #login-throbber > image
{
 list-style-image: url("chrome://global/skin/icons/loading_16.png");
}
#captchaFeedback
{
 visibility: hidden;
}
#successPageIcon
{
 /* TODO replace this with a 128px version (bug 591122) */
 list-style-image: url("chrome://browser/skin/sync-128.png");
}
#tosDesc
{
 margin-left: -7px;
 margin-bottom: 3px;
}