body
{
 display: table;
}
table
{
 table-layout: fixed;
 width: 100%;
}
th
{
 width: 12em;
 word-wrap: break-word;
 vertical-align: top;
 text-align: end;
}
td
{
 display: block;
 font-family: -moz-fixed;
 white-space: pre-wrap;
}
#td-key
{
 word-wrap: break-word;
}