@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

textbox:not(.padded)
{
 cursor: default;
 padding: 0;
}
textbox[nomatch="true"][highlightnonmatches="true"]
{
 color: red;
}
.autocomplete-textbox-container
{
 -moz-box-align: center;
}
textbox:not(.padded) .textbox-input-box
{
 margin: 0 3px;
}
.textbox-input-box
{
 -moz-box-align: center;
}

panel[type="autocomplete"], panel[type="autocomplete-richlistbox"], .autocomplete-history-popup
{
 -moz-appearance: none;
 border-width: 1px;
 -moz-border-top-colors: #202020;
 -moz-border-right-colors: #202020;
 -moz-border-bottom-colors: #202020;
 -moz-border-left-colors: #202020;
 padding: 0;
 background-color: #000000;
}
.autocomplete-history-popup
{
 max-height: 180px;
}

.autocomplete-tree
{
 -moz-appearance: none !important;
 border: none !important;
 background-color: transparent !important;
}
.autocomplete-treecol
{
 -moz-appearance: none !important;
 margin: 0 !important;
 border: none !important;
 padding: 0 !important;
}
.autocomplete-treecol > .treecol-sortdirection
{
 -moz-appearance: none !important;
}
.autocomplete-treebody::-moz-tree-cell-text
{
 -moz-padding-start: 8px;
}
treechildren.autocomplete-treebody::-moz-tree-row(selected)
{
 background-color: #404040;
}
treechildren.autocomplete-treebody::-moz-tree-cell-text(selected)
{
 color: #D0D0D0 !important;
}
.autocomplete-treebody::-moz-tree-image(treecolAutoCompleteValue)
{
 max-width: 16px;
 height: 16px;
}

.autocomplete-richlistbox
{
 -moz-appearance: none;
 margin: 0;
}
.autocomplete-richlistitem
{
 padding: 1px;
 border: 1px solid transparent;
}
.autocomplete-richlistitem[selected="true"]
{
 background-color: #A0A0A0;
 color: #000000;
 -moz-border-top-colors: #D0D0D0;
 -moz-border-right-colors: #606060;
 -moz-border-bottom-colors: #606060;
 -moz-border-left-colors: #D0D0D0;
}
.ac-title-box
{
 margin-top: 4px;
}
.ac-url-box
{
 margin: 1px 0 4px;
}
.ac-site-icon
{
 width: 16px; 
 height: 16px;
 margin: 0 5px -2px;
}
.ac-type-icon
{
 width: 16px; 
 height: 16px;
 -moz-margin-start: 6px;
 -moz-margin-end: 4px;
 margin-bottom: -1px;
}
.ac-url-box > .ac-site-icon, .ac-url-box > .ac-type-icon
{
 height: auto;
}
.ac-extra > .ac-result-type-tag
{
 margin: 0 4px;
}
.ac-extra > .ac-comment
{
 padding-right: 4px;
}
.ac-ellipsis-after
{
 margin: 0 !important;
 padding: 0; 
 min-width: 1em;
}
.ac-normal-text
{
 margin: 0 !important;
 padding: 0;
}
.ac-normal-text > html|span
{
 margin: 0 !important;
 padding: 0;
}
html|span.ac-emphasize-text
{
 box-shadow: inset 0 0 1px 1px rgba(208,208,208,0.5);
 background-color: rgba(208,208,208,0.3);
 border-radius: 2px;
 text-shadow: 0 0 currentColor;
}
@media (-moz-windows-default-theme)
{
 .ac-url-text > html|span.ac-emphasize-text, .ac-action-text > html|span.ac-emphasize-text
 {
  box-shadow: inset 0 0 1px 1px rgba(202,214,201,0.3);
  background-color: rgba(202,214,201,0.2);
 }
}
.ac-title, .ac-url
{
 overflow: hidden;
}

toolbarpaletteitem > toolbaritem > textbox > hbox > hbox > html|*.textbox-input
{
 visibility: hidden;
}
toolbarpaletteitem > toolbaritem > * > textbox > hbox > hbox > html|*.textbox-input
{
 visibility: hidden;
}