@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
button
{
 -moz-appearance: none;
 margin: 1px;
 min-width: 60px;
 min-height: 25px;
 color: #FFFFFF;
 background-color: #000000;
 border: 2px solid;
 -moz-border-top-colors: #000000 #D0D0D0;
 -moz-border-left-colors: #000000 #D0D0D0;
 -moz-border-bottom-colors: #000000 #606060;
 -moz-border-right-colors: #000000 #606060;
}
.button-box
{
 border: 1px solid transparent;
 padding-top: 1px;
 padding-bottom: 2px;
 -moz-padding-start: 3px;
 -moz-padding-end: 4px;
}
.button-text
{
 margin: 0px 4px 0px 4px !important;
 text-align: center;
}
button:hover
{
 color: #D0D0D0;
 background-color: #303030;
}
button:focus
{
 color: #C0C0C0;
 -moz-border-top-colors: #303030 #D0D0D0;
 -moz-border-left-colors: #303030 #D0D0D0;
 -moz-border-bottom-colors: #303030 #606060;
 -moz-border-right-colors: #303030 #606060;
}
button[default="true"]
{
 -moz-border-top-colors: #404040 #D0D0D0;
 -moz-border-right-colors: #404040 #606060;
 -moz-border-bottom-colors: #404040 #606060;
 -moz-border-left-colors: #404040 #D0D0D0;
}
button:hover:focus
{
 color: #D0D0D0;
 background-color: #303030;
 -moz-border-top-colors: #303030 #D0D0D0;
 -moz-border-left-colors: #303030 #D0D0D0;
 -moz-border-bottom-colors: #303030 #606060;
 -moz-border-right-colors: #303030 #606060;
}
button:hover:active, button[open="true"], button[checked="true"]
{
 color: #FFFFFF;
 background-color: #404040;
 -moz-border-top-colors: #000000 #606060;
 -moz-border-left-colors: #000000 #606060;
 -moz-border-bottom-colors: #000000 #D0D0D0;
 -moz-border-right-colors: #000000 #D0D0D0;
}
button[default="true"]:hover:active
{
 color: #FFFFFF;
 background-color: #404040;
 -moz-border-top-colors: #404040 #606060;
 -moz-border-left-colors: #404040 #606060;
 -moz-border-bottom-colors: #404040 #D0D0D0;
 -moz-border-right-colors: #404040 #D0D0D0;
}
button:hover:active:focus, button[checked="true"]:focus, button[open="true"]:focus
{
 color: #FFFFFF;
 background-color: #404040;
 -moz-border-top-colors: #303030 #606060;
 -moz-border-left-colors: #303030 #606060;
 -moz-border-bottom-colors: #303030 #D0D0D0;
 -moz-border-right-colors: #303030 #D0D0D0;
}
button[disabled="true"]
{
 color: #606060 !important;
 background-color: #202020 !important;
 -moz-border-top-colors: #202020 #505050 !important;
 -moz-border-left-colors: #202020 #505050 !important;
 -moz-border-bottom-colors: #101010 #303030 !important;
 -moz-border-right-colors: #101010 #303030 !important;
}
button[disabled="true"] > .button-box
{
 padding-top: 1px !important;
 padding-bottom: 2px !important;
 -moz-padding-start: 3px !important;
 -moz-padding-end: 4px !important;
}
button[type="menu-button"]
{
 margin: 0;
 border: none;
}
.button-menu-dropmarker, .button-menubutton-dropmarker
{
 -moz-appearance: none !important;
 margin: 1px;
 background-color: transparent;
 border: none;
 width: 11px;
 height: 11px;
}
.button-menubutton-dropmarker[open="true"]
{
 margin-top: 2px;
 margin-bottom: 0px;
 -moz-margin-start: 2px;
 -moz-margin-end: 0px;
}
button.plain
{
 border: 0px !important;
 margin: 0px !important;
 padding: 0px !important;
}
button[type="disclosure"]
{
 border: 0px !important;
 margin: 0px !important;
 padding: 0px !important;
 -moz-appearance: none;
 list-style-image: url("chrome://global/skin/tree/twisty-clsd.png");
 min-width: 0px !important;
 background-color: transparent;
}
button[type="disclosure"][open="true"]
{
 list-style-image: url("chrome://global/skin/tree/twisty-open.png");
}