window, dialog
{
 padding: 6px;
}
#instructions
{
 font-weight: bold;
 font-size: larger;
}
#palette-box
{
 -moz-appearance: none;
 margin: 0 0 10px;
 background: #000000;
 color: #FFFFFF;
 border: 1px solid;
 -moz-border-top-colors: #606060;
 -moz-border-right-colors: #A0A0A0;
 -moz-border-bottom-colors: #A0A0A0;
 -moz-border-left-colors: #606060;
}
#palette-box > toolbarpaletteitem
{
 padding: 8px 2px;
 margin: 0 8px;
}
