@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
datepicker, timepicker
{
 margin: 2px 4px;
 padding: 0;
 border: none;
 background: none;
 cursor: default;
}
.datetimepicker-input-box
{
 -moz-appearance: none;
 cursor: text;
 -moz-margin-end: 2px;
 border: 2px solid;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
 padding: 2px 0 3px 0;
 -moz-padding-start: 4px;
 -moz-padding-end: 2px;
 background-color: #000000;
 color: #FFFFFF;
}
.datetimepicker-input-subbox
{
 width: 1.6em;
}
html|*.datetimepicker-input
{
 text-align: end;
}
.datetimepicker-separator
{
 margin: 0 !important;
}
.datetimepicker-year
{
 width: 3.2em;
}
datepicker[readonly="true"], timepicker[readonly="true"]
{
 background-color: #000000;
 color: #C0C0C0;
}
datepicker[disabled="true"], timepicker[disabled="true"]
{
 cursor: default;
 background-color: #202020;
 color: #C0C0C0;
}
.datepicker-mainbox
{
 margin: 2px 4px;
 border: 2px solid;
 border-top-color: #606060;
 border-right-color: #D0D0D0;
 border-bottom-color: #D0D0D0;
 border-left-color: #606060;
 background-color: #000000;
 color: #FFFFFF;
}
.datepicker-popupgrid > .datepicker-mainbox
{
 margin: 0;
 border: none;
}
.datepicker-gridlabel, .datepicker-weeklabel
{
 text-align: center;
}
.datepicker-gridlabel[today="true"]
{
 background-color: #000000;
 color: #FFFFFF;
}
.datepicker-gridlabel[selected="true"]
{
 background-color: #202020;
 color: #FFFFFF;
}
.datepicker-button
{
 -moz-appearance: none;
 min-width: 8px;
 padding: 0px;
}
.datepicker-previous
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}
.datepicker-next
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}
.datepicker-previous:hover
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft-hov.gif");
}
.datepicker-next:hover
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit-hov.gif");
}
.datepicker-previous[disabled="true"]
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
}
.datepicker-next[disabled="true"]
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
}
.datepicker-previous:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit.gif");
}
.datepicker-next:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft.gif");
}
.datepicker-previous:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit-hov.gif");
}
.datepicker-next:-moz-locale-dir(rtl):hover
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft-hov.gif");
}
.datepicker-previous[disabled="true"]:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif");
}
.datepicker-next[disabled="true"]:-moz-locale-dir(rtl)
{
 list-style-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif");
}