@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.findbar-closebutton
{
 border: none;
 padding: 3px 5px;
 list-style-image: url("chrome://global/skin/icons/close.png");
 -moz-appearance: none;
 -moz-image-region: rect(0, 16px, 16px, 0);
}
.findbar-closebutton:hover
{
 -moz-image-region: rect(0, 32px, 16px, 16px);
}
.findbar-closebutton:hover:active
{
 -moz-image-region: rect(0, 48px, 16px, 32px);
}
findbar
{
 padding-top: 1px;
 background: #000000;
 min-width: 1px;
}
.findbar-find-next
{
 list-style-image: url("chrome://global/skin/icons/find.png");
 -moz-image-region: rect(0px 16px 16px 0px);
}
.findbar-find-next:hover
{
 -moz-image-region: rect(16px 16px 32px 0px);
}
.findbar-find-next[disabled="true"]
{
 -moz-image-region: rect(32px 16px 48px 0px) !important;
}
.findbar-find-previous
{
 list-style-image: url("chrome://global/skin/icons/find.png");
 -moz-image-region: rect(0px 32px 16px 16px);
}
.findbar-find-previous:hover
{
 -moz-image-region: rect(16px 32px 32px 16px);
}
.findbar-find-previous[disabled="true"]
{
 -moz-image-region: rect(32px 32px 48px 16px) !important;
}
.findbar-highlight
{
 list-style-image: url("chrome://global/skin/icons/find.png");
 -moz-image-region: rect(0px 48px 16px 32px);
}
.findbar-highlight:hover
{
 -moz-image-region: rect(16px 48px 32px 32px);
}
.findbar-highlight[disabled="true"]
{
 -moz-image-region: rect(32px 48px 48px 32px) !important;
}
.findbar-highlight:active, .findbar-highlight[checked="true"]
{
 -moz-image-region: rect(48px 48px 64px 32px);
}
.findbar-highlight[checked="true"]:hover
{
 -moz-image-region: rect(64px 48px 80px 32px);
}
.find-status-icon
{
 list-style-image: none;
 margin-top: 2px;
 margin-bottom: 0px;
 -moz-margin-start: 12px;
 -moz-margin-end: 0px;
 width: 16px;
 height: 16px;
}
.findbar-find-status
{
 margin: 0 !important;
 -moz-margin-start: 3px !important;
 padding: 2px !important;
}
.find-status-icon[status="notfound"]
{
 list-style-image: url("chrome://global/skin/icons/information-16.png");
}
.findbar-textbox
{
 -moz-appearance: none;
 margin: 0px;
 border: 2px solid;
 -moz-border-top-colors: #303030 #606060;
 -moz-border-right-colors: #808080 #D0D0D0;
 -moz-border-bottom-colors: #808080 #D0D0D0;
 -moz-border-left-colors: #303030 #606060;
 padding: 2px 2px 3px 4px;
 background-color: #000000;
 color: #FFFFFF;
}
.findbar-textbox[status="notfound"]
{
 background-color: #200000;
 color: #FFFFFF;
}
.findbar-textbox[flash="true"]
{
 background-color: #FF0000;
}
.find-status-icon[status="wrapped"]
{
 list-style-image: url("chrome://global/skin/icons/wrap.png");
}
.find-status-icon[status="pending"]
{
 list-style-image: url("chrome://global/skin/icons/loading_16.png");
}