@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
notification
{
 background-color: #000000;
 color: #FFFFFF;
 text-shadow: none;
}
notification[type="info"]
{
 background-image: linear-gradient(#202020, #000000);
 background-color: #000000;
 color: #FFFFFF;
}
notification[type="critical"]
{
 background-image: linear-gradient(#200000, #000000);
 background-color: #000000;
 color: white;
}
.messageImage
{
 width: 16px;
 height: 16px;
 -moz-margin-start: 6px;
 -moz-margin-end: 1px;
}
.messageImage[type="info"]
{
 list-style-image: url("chrome://global/skin/icons/information-16.png");
}
.messageImage[type="warning"]
{
 list-style-image: url("chrome://global/skin/icons/warning-16.png");
}
.messageImage[type="critical"]
{
 list-style-image: url("chrome://global/skin/icons/error-16.png");
}
.messageCloseButton
{
 list-style-image: url("chrome://global/skin/icons/close.png");
 -moz-appearance: none;
 -moz-image-region: rect(0, 16px, 16px, 0);
 padding: 4px 2px;
 border: none !important;
}
.messageCloseButton:hover
{
 -moz-image-region: rect(0, 32px, 16px, 16px);
}
.messageCloseButton:hover:active
{
 -moz-image-region: rect(0, 48px, 16px, 32px);
}
.messageCloseButton > .toolbarbutton-icon
{
 -moz-margin-end: 5px;
}
.popup-notification-description
{
 max-width: 24em;
}
.popup-notification-button-container
{
 margin-top: 17px;
}

/*
XXX: apply styles to all themes until bug 509642 is fixed
@media (-moz-windows-default-theme) {
*/
 .popup-notification-menubutton
 {
  -moz-appearance: none;
  border-radius: 3px;
  padding: 0;
 }
 .popup-notification-menubutton:hover:active
 {
  border-color: #A0A0A0;
 }
 .popup-notification-menubutton:not([type="menu-button"]), .popup-notification-menubutton > .button-menubutton-button, .popup-notification-menubutton > .button-menubutton-dropmarker
 {
  -moz-appearance: none;
  margin: 0;
  border: 1px solid #606060;
  background: #000000;
 }
 .popup-notification-menubutton > .button-menubutton-button
 {
  background-color: transparent;
  padding: 1px;
  -moz-border-end: none;
 }
 .popup-notification-menubutton:not([type="menu-button"]), .popup-notification-menubutton > .button-menubutton-button > .button-box
 {
  -moz-padding-start: 8px;
  -moz-padding-end: 5px;
 }
 .popup-notification-menubutton > .button-menubutton-dropmarker
 {
  padding: 9px 5px 8px;
  width: auto;
  height: auto;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-sharp.gif");
 }
 .popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker
 {
  outline: 0px;
 }
 .popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(ltr), .popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(rtl)
 {
  border-radius: 2px 0 0 2px;
 }
 .popup-notification-menubutton > .button-menubutton-button:-moz-locale-dir(rtl),.popup-notification-menubutton > .button-menubutton-dropmarker:-moz-locale-dir(ltr)
 {
  border-radius: 0 2px 2px 0;
 }
 .popup-notification-menubutton:not([type="menu-button"]):hover, .popup-notification-menubutton > .button-menubutton-button:hover, .popup-notification-menubutton > .button-menubutton-dropmarker:hover
 {
  background: #303030;
 }
 .popup-notification-menubutton:not([type="menu-button"]):hover:active, .popup-notification-menubutton > .button-menubutton-button:hover:active, .popup-notification-menubutton > .button-menubutton-dropmarker:hover:active, .popup-notification-menubutton[open="true"] > .button-menubutton-dropmarker
 {
  background: #505050;
 }
/*}*/

.popup-notification-closebutton
{
 -moz-margin-end: -14px;
 margin-top: -10px;
}
.popup-notification-closeitem
{
 list-style-image: url("chrome://global/skin/icons/close.png");
 -moz-image-region: rect(0, 16px, 16px, 0);
}