@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
prefwindow
{
 padding: 0px;
}
prefpane
{
 padding-top: 8px;
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"]
{
 padding-top: 8px;
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"] > prefpane
{
 padding: 0px;
}
.prefWindow-dlgbuttons
{
 padding-bottom: 10px;
 -moz-padding-start: 8px;
 -moz-padding-end: 10px;
}
prefwindow[type="child"] .prefWindow-dlgbuttons
{
 padding: 0px;
}
radio[pane]
{
 -moz-appearance: none;
 margin: 0px 1px 0px 1px;
 padding: 1px 3px 1px 3px;
 min-width: 4.5em;
}
.paneSelector
{
 border-bottom: 2px groove #C0C0C0;
 margin: 0px;
 -moz-padding-start: 10px;
 background-color: #000000;
 color: #FFFFFF;
}
.paneButtonIcon
{
 width: 32px;
 height: 32px;
}
radio[pane]:hover
{
 background-color: #404040;
 color: #FFFFFF;
 -moz-appearance: none;
}
radio[pane][selected="true"]
{
 background-color: #606060;
 color: #FFFFFF; 
 -moz-appearance: none;
}