@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
progressmeter
{
 -moz-appearance: none;
 margin: 2px 4px;
 border: 1px solid;
 -moz-border-top-colors: #FFFFFF;
 -moz-border-right-colors: #808080;
 -moz-border-bottom-colors: #808080;
 -moz-border-left-colors: #FFFFFF;
 background-color: #000000;
 min-width: 128px;
 min-height: 15px;
}
.progress-bar 
{
 -moz-appearance: none;
 min-width: 0px;
 background-image: url("chrome://global/skin/progress/prog.png");
 background-repeat: repeat-x;
}
.progressmeter-statusbar
{
 margin: 0;
 border: 0px;
 -moz-border-top-colors: #FFFFFF;
 -moz-border-right-colors: #808080;
 -moz-border-bottom-colors: #808080;
 -moz-border-left-colors: #FFFFFF;
 min-width: 96px;
}