@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
.tabs-left, .tabs-right
{
 border-bottom: 1px solid #C0C0C0;
}
tabpanels
{
 -moz-appearance: none;
 border-style: solid;
 border-top: 0px;
 border-right: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #C0C0C0;
 padding: 8px;
 background-color: #000000;
 color: #FFFFFF;
}
tab 
{
 -moz-appearance: none;
 margin-top: 1px;
 margin-bottom: -1px;
 padding: 1px 4px 2px 4px;
 background-color: #000000;
 color: #FFFFFF;
 border: 1px solid #D0D0D0;
 border-bottom-width: 2px;
}
.tab-text
{
 margin: 0 !important;
}
tab[selected="true"]
{
 -moz-user-focus: normal;
 margin-top: 0;
 border-bottom-color: #000000;
 padding: 1px 6px 4px 6px;
}
tab:focus
{
 color: #D0D0D0;
}
tab[beforeselected="true"]:-moz-locale-dir(ltr), tab[selected="true"]:-moz-locale-dir(rtl) + tab
{
  border-right: none;
}
tab[selected="true"]:-moz-locale-dir(ltr) + tab, tab[beforeselected="true"]:-moz-locale-dir(rtl)
{
 border-left: none;
}
tab:first-of-type[selected="true"]
{
 padding-right: 5px;
 padding-left: 5px;
}
.tabs-bottom > .tabs-left, .tabs-bottom > .tabs-right
{
 border-top: 1px solid #808080 !important;
 border-bottom: none !important;
}
.tab-bottom
{
 margin-top: -1px !important;
 margin-bottom: 1px !important;
 border-bottom-width: 1px;
 padding: 2px 4px 1px 4px !important;
}
.tab-bottom[selected="true"]
{
 margin-bottom: 0 !important;
 margin-top: -1px !important;
 padding: 4px 6px 1px 6px !important;
 -moz-border-bottom-colors: #D0D0D0 !important;
 -moz-border-top-colors: #000000 !important;
}