tabmodalprompt
{
 background: linear-gradient(to bottom, rgba(96, 96, 96, 0.8), rgba(0, 0, 0, 0.8)),
             repeating-linear-gradient(135deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 10px, rgba(0,0,0,.1) 10px, rgba(0,0,0,.1) 20px);
 font-family: sans-serif;
}
.mainContainer
{
 color: #FFFFFF;
 background-color: #000000;
 border: 2px solid #A0A0A0;
 border-bottom-color: #606060;
 border-right-color: #606060;
 box-shadow: 3px 3px 4px #000000;
 border-radius: 16px;
}
.topContainer
{
 padding: 20px;
 background-color: #101010;
 border-bottom: 2px solid #606060;
 border-top-right-radius: 16px;
 border-top-left-radius: 16px;
}
.buttonContainer
{
 padding: 12px 20px 15px;
 background-color: #000000;
 border-top: 2px solid #A0A0A0;
 border-bottom-right-radius: 16px;
 border-bottom-left-radius: 16px;
}