body
{
 font: message-box;
 color: #FFFFFF;
 font-size: 13px;
 background: radial-gradient(circle at 50% 0%, #202020 0%, #000000 100%) #202020 !important;
}
.tab
{
 margin: 4px;
 padding-top: 4px;
 -moz-padding-end: 6px;
 padding-bottom: 6px;
 -moz-padding-start: 4px;
 background-color: #000000;
 border-radius: 0.4em;
 border: 1px solid;
 border-top-color: #606060;
 border-right-color: #A0A0A0;
 border-bottom-color: #A0A0A0;
 border-left-color: #606060;
 cursor: pointer;
}
.tab canvas, .cached-thumb
{
 border: 1px solid;
 border-top-color: #A0A0A0;
 border-right-color: #606060;
 border-bottom-color: #606060;
 border-left-color: #A0A0A0;
}
.thumb
{
 background-color: #303030;
}
.favicon
{
 background-color: #202020;
 padding-top: 4px;
 -moz-padding-end: 6px;
 padding-bottom: 6px;
 -moz-padding-start: 4px;
 top: 4px;
 left: 4px;
 -moz-border-end: 1px solid #606060;
 border-bottom: 1px solid #606060;
 height: 17px;
 width: 17px;
}
html[dir=ltr] .favicon
{
 border-bottom-right-radius: 0.4em;
}
html[dir=rtl] .favicon
{
 border-bottom-left-radius: 0.4em;
 left: auto;
 right: 2px;
}
.favicon img
{
 border: none;
 width: 16px;
 height: 16px;
}
.close
{
 top: 6px;
 right: 6px;
 width: 16px;
 height: 16px;
 background-image: -moz-image-rect(url("chrome://browser/skin/tabview/close.png"), 0, 16, 16, 0);
 background-repeat: no-repeat;
}
.close:hover
{
 background-image: -moz-image-rect(url("chrome://browser/skin/tabview/close.png"), 0, 32, 16, 16);
}
.close:hover:active
{
 background-image: -moz-image-rect(url("chrome://browser/skin/tabview/close.png"), 0, 48, 16, 32);
}
html[dir=rtl] .close
{
 right: auto;
 left: 6px;
}
.expander
{
 bottom: 6px;
 right: 6px;
 width: 16px;
 height: 16px;
 background: url(chrome://global/skin/icons/resizer.png) no-repeat;
 transition-property: opacity;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;
 opacity: 0.2;
}
html[dir=rtl] .expander
{
 right: auto;
 left: 6px;
 transform: scaleX(-1);
}
.expander:hover, .appTabIcon:hover
{
 transition-property: opacity;
 transition-duration: 0.5s;
 transition-timing-function: ease-out;
 opacity: 1.0;
}
.favicon img:hover, .close img:hover, .expander img:hover
{
 opacity: 1;
 border: none;
}
.tab-title
{
 bottom: -20px;
 text-align: center;
 width: 94.5%;
 text-shadow: 1px 1px 1px #A0A0A0;
}
.stacked
{
 padding: 0;
}
.stack-trayed .tab-title
{
 text-shadow: 1px 1px 1px #A0A0A0;
 color: #E0E0E0;
 font-size: 11px;
}
html[dir=rtl] .stack-trayed .tab-title
{
 text-shadow: -1px 1px 1px #A0A0A0;
}
.stack-trayed .thumb
{
 box-shadow: none !important;
}

.front .tab-title, .front .close, .front .favicon, .front .expander, .front .thumb-shadow
{
 display: none;
}
.front .thumb
{
 box-shadow: none !important;
}
.front.focus
{
 box-shadow: none !important;
}
.groupItem
{
 cursor: pointer;
 background-color: #000000;
 border-radius: 0.4em;
}
.groupItem.activeGroupItem
{
 background-color: 202020;
}
.groupItem .close
{
 z-index: 10;
 top: 0px;
 right: 0px;
 width: 22px;
 height: 22px;
 background-position: bottom left;
}
html[dir=rtl] .groupItem .close
{
 right: auto;
 left: 0px;
 background-position: bottom right;
}
.dragRegion
{
 background: #000000;
}
.overlay
{
 background-color: #000000 !important;
 border-radius: 0.4em;
}
.appTabTrayContainer
{
 top: 34px;
 right: 1px;
 -moz-border-start: 1px solid #A0A0A0;
 padding: 0 5px;
 overflow: -moz-hidden-unscrollable;
 text-align: start;
 line-height: 0;
}
html[dir=rtl] .appTabTrayContainer
{
 right: auto;
 left: 1px;
}
.appTabTray
{
 display: inline-block;
 -moz-column-width: 16px;
 -moz-column-gap: 5px;
}
.appTabTrayContainerTruncated
{
 padding-bottom: 7px;
}
.appTabTrayContainerTruncated:after
{
 content: "…";
 position: absolute;
 bottom: 2px;
 left: 0;
 display: block;
 width: 100%;
 height: 15px;
 line-height: 15px;
 text-align: center;
 font-size: 15px;
}
.appTabIcon
{
 width: 16px;
 height: 16px;
 cursor: pointer;
 opacity: 0.8;
 padding-bottom: 3px;
 display: block;
}
.undo
{
 background-color: #303000;
 padding-top: 3px;
 padding-bottom: 3px;
 -moz-padding-start: 5px;
 -moz-padding-end: 20px;
 width: 135px;
 line-height: 25px;
 color: #FFFFFF;
 border-radius: 0.4em;
 text-align: center;
 border: none;
 cursor: pointer;
}
.undo:hover
{
 background-color: #606000;
}
.undo .close
{
 top: 7px;
 right: 7px;
 opacity: 0.5;
}
html[dir=rtl] .undo .close
{
 right: auto;
 left: 7px;
}
.undo .close:hove
{
 opacity: 1.0;
}
.guideTrench
{
 opacity: 0.9;
 border: 1px dashed #808080;
 border-bottom: none;
 -moz-border-end: none;
}
.visibleTrench
{
 opacity: 0.05;
}
.activeVisibleTrench
{
  opacity: 0;
}
.activeVisibleTrench.activeTrench
{
 opacity: 0.45;
}
.visibleTrench.border, .activeVisibleTrench.border
{
  background-color: red;
}
.visibleTrench.guide,  .activeVisibleTrench.guide
{
 background-color: blue;
}
.active
{
 box-shadow: 5px 5px 3px rgba(255,255,255,.5);
}
html[dir=rtl] .active
{
 box-shadow: -5px 5px 3px rgba(255,255,255,.5);
}
.acceptsDrop
{
 box-shadow: 2px 2px 7px -1px rgba(255,255,255,.6);
}
html[dir=rtl] .acceptsDrop
{
 box-shadow: -2px 2px 7px -1px rgba(255,255,255,.6);
}
.titlebar
{
 cursor: move;
 font-size: 12px;
 height: 18px;
}
input.name
{
 background: transparent;
 border: 1px solid transparent;
 color: #FFFFFF;
 margin-top: 3px;
 -moz-margin-end: 0;
 margin-bottom: 0;
 -moz-margin-start: 3px;
 padding: 1px;
}
html[dir=rtl] input.name
{
 background-position: right top;
}
.title-container:hover input.name, .title-container input.name:focus
{
 border: 1px solid #606060;
}
.title-container:hover input.name-locked
{
 border: 1px solid transparent !important;
 cursor: default;
}
input.name:focus
{
 color: #C0C0C0;
}
input.name::-moz-placeholder
{
 opacity: 1.0;
 font-style: italic !important;
 color: transparent;
 background-image: url(chrome://browser/skin/tabview/edit-light.png);
 background-repeat: no-repeat;
}
.title-container:hover input.name::-moz-placeholder
{
 color: #FFFFFF;
 background-image: none;
}
input.name:focus::-moz-placeholder
{
 background-image: none;
}
.title-shield
{
 margin-top: 3px;
 -moz-margin-end: 0;
 margin-bottom: 0;
 -moz-margin-start: 3px;
 padding: 1px;
 left: 0;
 top: 0;
 height: 100%;
 width: -moz-available;
 cursor: text;
}
html[dir=rtl] .title-shield
{
 left: auto;
 right: 0;
}
.transparentBorder
{
 border: 1px solid transparent !important;
}
.stackExpander
{
 cursor: pointer;
 bottom: 8px;
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/stack-expander.png), 0, 48, 24, 24);
 width: 24px;
 height: 24px;
}
.stackExpander:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/stack-expander.png), 0, 24, 24, 0);
}
.resizer
{
 background-image: url(chrome://global/skin/icons/resizer.png);
 width: 16px;
 height: 16px;
 bottom: 0px;
 right: 0px;
 opacity: .2;
}
html[dir=rtl] .resizer
{
 right: auto;
 left: 0;
 transform: scaleX(-1);
}
.iq-resizable-handle
{
 font-size: 0.1px;
}
.iq-resizable-se
{
 cursor: se-resize;
 width: 12px;
 height: 12px;
 padding-right: 3px;
 padding-bottom: 3px;
 right: -2px;
 bottom: -2px;
}
html[dir=rtl] .iq-resizable-se
{
 cursor: sw-resize;
 right: auto;
 left: 1px;
}
#exit-button
{
 width: 16px;
 height: 16px;
 -moz-margin-end: 4px;
 margin-top: 2px;
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 0, 80, 16, 64);
 background-attachment: scroll;
 background-repeat: no-repeat;
 border: none;
}
#exit-button:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 16, 80, 32, 64);
}
#exit-button:hover:active
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 32, 80, 48, 64);
}
#exit-button[disabled]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 48, 80, 64, 64);
}
#exit-button[groups="0"]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 0, 16, 16, 0);
}
#exit-button[groups="0"]:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 16, 16, 32, 0);
}
#exit-button[groups="0"]:hover:active
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 32, 16, 48, 0);
}
#exit-button[groups="0"][disabled]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 48, 16, 64, 0);
}
#exit-button[groups="1"]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 0, 32, 16, 16);
}
#exit-button[groups="1"]:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 16, 32, 32, 16);
}
#exit-button[groups="1"]:hover:active
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 32, 32, 48, 16);
}
#exit-button[groups="1"][disabled]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 48, 32, 64, 16);
}
#exit-button[groups="2"]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 0, 48, 16, 32);
}
#exit-button[groups="2"]:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 16, 48, 32, 32);
}
#exit-button[groups="2"]:hover:active
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 32, 48, 48, 32);
}
#exit-button[groups="2"][disabled]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 48, 48, 64, 32);
}
#exit-button[groups="3"]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 0, 64, 16, 48);
}
#exit-button[groups="3"]:hover
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 16, 64, 32, 48);
}
#exit-button[groups="3"]:hover:active
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 32, 64, 48, 48);
}
#exit-button[groups="3"][disabled]
{
 background-image: -moz-image-rect(url(chrome://browser/skin/tabview/tabview.png), 48, 64, 64, 48);
}
#searchshade
{
 background-color: rgba(0,0,0,.42);
 width: 100%;
 height: 100%;
}
#search
{
 width: 100%;
 height: 100%;
}
#searchbox
{
 width: 270px;
 max-width: -moz-available;
 -moz-margin-start: 20px;
 height: 30px;
 color: white;
 border: none;
 background-color: #000000;
 border-radius: 0.4em;
 -moz-padding-start: 5px;
 -moz-padding-end: 5px;
 font-size: 14px;
}
#actions
{
 top: -3px;
 padding-top: 3px;
 width: 29px;
 border: none;
 text-align: center;
 background-color: #101010;
 border-radius: 0.4em;
}
#actions #searchbutton
{
 background: transparent url(chrome://browser/skin/tabview/search.png) no-repeat;
 border: none;
 width: 20px;
 height: 20px;
 margin-top: 3px;
 -moz-margin-end: 1px;
}
.notMainMatch
{
 opacity: .70;
}
#otherresults
{
 left: 0px;
 bottom: 0px;
 width: 100%;
 height: 30px;
 background-color: rgba(0,0,0,.3);
}
html[dir=rtl] #otherresults
{
 left: auto;
 right: 0;
}
#otherresults .label
{
 color: #A0A0A0;
 line-height: 30px;
 -moz-margin-start: 5px;
 -moz-margin-end: 5px;
}
.inlineMatch
{
 background-color: #404040;
 border-radius: 0.4em;
 border: 1px solid rgba(255, 255, 255, 0.5);
 -moz-padding-start: 3px;
 -moz-padding-end: 3px;
 height: 20px;
 -moz-margin-end: 5px;
 cursor: pointer;
}
.inlineMatch:hover
{
 opacity: 1.0;
}
.inlineMatch > img
{
 -moz-margin-end: 5px;
 position: relative;
 top: 2px;
 width: 16px;
 height: 16px;
}
.inlineMatch > span
{
 max-width: 200px;
 height: 15px;
}